<div class="calculation">
  <div class="site-container">
    <form action="#" class="calculation__body" data-need-validation>
      <div class="calculation__image">
        <img src="./img/calculation/hangar.png" alt="картинка ангара">
      </div>

      <div class="calculation__forms">
        <div class="calculation__title text-h3">
          Узнайте точную стоимость<br> вашего ангара
        </div>

        <div class="calculation__slider">
          <div class="calculation__swiper swiper js-calc-swiper">
            <ul class="calculation__swiper-wrapper swiper-wrapper">
              <li class="calculation__swiper-slide swiper-slide form-slide">
                <div class="form-slide__header">
                  <div class="form-slide__title">
                    <i>1.</i>
                    <span>Укажите характеристики строения</span>
                  </div>
                </div>

                <div class="form-slide__inputs-block">

                  <div class="form-slide__inputs form-slide__inputs--nowrap">
                    <div class="form-slide__col">
                      <span class="form-slide__label">
                        Длина
                      </span>

                      <div class="form-slide__input-wrapper">
                        <div class="input-box">
                          <input type="number" name="length" id="input-length" class="input-box__input js-input-size"
                            placeholder="5 метров" required>
                          <i class="input-box__error">Введите длину</i>  
                        </div>
                      </div>
                    </div>
                    <div class="form-slide__col">
                      <span class="form-slide__label">
                        Ширина
                      </span>

                      <div class="form-slide__input-wrapper">
                        <div class="input-box">
                          <input type="number" name="width" id="input-width" class="input-box__input js-input-size"
                            placeholder="5 метров" required>
                          <i class="input-box__error">Введите ширину</i>
                        </div>
                      </div>
                    </div>
                    <div class="form-slide__col">
                      <span class="form-slide__label">
                        Высота
                      </span>

                      <div class="form-slide__input-wrapper">
                        <div class="input-box">
                          <input type="number" name="height" id="input-height" class="input-box__input js-input-size"
                            placeholder="5 метров" required>
                          <i class="input-box__error">Введите высоту</i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-slide__inputs form-slide__inputs--selects">
                    <div class="form-slide__col form-slide__col--select">
                      <span class="form-slide__label">
                        Тип
                      </span>

                      <div class="form-slide__input-wrapper">
                        <div class="select">
                          <div class="select__current" tabindex="1">
                            <div class="select__value">
                              <input class="select__input" type="radio" id="type-id-1" value="type-value-1"
                                name="name-1" checked />
                              <p class="select__input-text">
                                Не выбрано
                              </p>
                            </div>
                            <div class="select__value">
                              <input class="select__input" type="radio" id="type-id-2" value="type-value-2"
                                name="name-1" />
                              <p class="select__input-text">
                                Тип 1
                              </p>
                            </div>
                            <div class="select__value">
                              <input class="select__input" type="radio" id="type-id-3" value="type-value-3"
                                name="name-1" />
                              <p class="select__input-text">
                                Тип 2
                              </p>
                            </div>
                            <span class="select__icon">
                              <svg aria-hidden="true" class="icon icon-search">
                                <use xlink:href="#select-arrow"></use>
                              </svg>
                            </span>
                          </div>
                          <div class="select__list-wrapper">
                            <ul class="select__list">
                              <li>
                                <label class="select__option" for="type-id-1" aria-hidden="aria-hidden">
                                  Не выбрано
                                </label>
                              </li>
                              <li>
                                <label class="select__option" for="type-id-2" aria-hidden="aria-hidden">
                                  Тип 1
                                </label>
                              </li>
                              <li>
                                <label class="select__option" for="type-id-3" aria-hidden="aria-hidden">
                                  Тип 2
                                </label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-slide__col form-slide__col--select">
                      <span class="form-slide__label">
                        Назначение
                      </span>

                      <div class="form-slide__input-wrapper">
                        <div class="select">
                          <div class="select__current" tabindex="1">
                            <div class="select__value">
                              <input class="select__input" type="radio" id="purpose-id-1" value="purpose-value-1"
                                name="purpose-1" checked />
                              <p class="select__input-text">
                                Не выбрано
                              </p>
                            </div>
                            <div class="select__value">
                              <input class="select__input" type="radio" id="purpose-id-2" value="purpose-value-2"
                                name="purpose-1" />
                              <p class="select__input-text">
                                Назначение 1
                              </p>
                            </div>
                            <div class="select__value">
                              <input class="select__input" type="radio" id="purpose-id-3" value="purpose-value-3"
                                name="purpose-1" />
                              <p class="select__input-text">
                                Назначение 2
                              </p>
                            </div>
                            <span class="select__icon">
                              <svg aria-hidden="true" class="icon icon-search">
                                <use xlink:href="#select-arrow"></use>
                              </svg>
                            </span>
                          </div>
                          <div class="select__list-wrapper">
                            <ul class="select__list">
                              <li>
                                <label class="select__option" for="purpose-id-1" aria-hidden="aria-hidden">
                                  Не выбрано
                                </label>
                              </li>
                              <li>
                                <label class="select__option" for="tpurpose-id-2" aria-hidden="aria-hidden">
                                  Назначение 1
                                </label>
                              </li>
                              <li>
                                <label class="select__option" for="purpose-id-3" aria-hidden="aria-hidden">
                                  Назначение 2
                                </label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-slide__col form-slide__col--select">
                      <span class="form-slide__label">
                        Холодный/Теплый
                      </span>

                      <div class="form-slide__input-wrapper">
                        <div class="select">
                          <div class="select__current" tabindex="1">
                            <div class="select__value">
                              <input class="select__input" type="radio" id="temp-id-1" value="temp-value-1"
                                name="temp-1" checked />
                              <p class="select__input-text">
                                Не выбрано
                              </p>
                            </div>
                            <div class="select__value">
                              <input class="select__input" type="radio" id="temp-id-2" value="temp-value-2"
                                name="temp-1" />
                              <p class="select__input-text">
                                Холодный
                              </p>
                            </div>
                            <div class="select__value">
                              <input class="select__input" type="radio" id="temp-id-3" value="temp-value-3"
                                name="temp-1" />
                              <p class="select__input-text">
                                Теплый
                              </p>
                            </div>
                            <span class="select__icon">
                              <svg aria-hidden="true" class="icon icon-search">
                                <use xlink:href="#select-arrow"></use>
                              </svg>
                            </span>
                          </div>
                          <div class="select__list-wrapper">
                            <ul class="select__list">
                              <li>
                                <label class="select__option" for="temp-id-1" aria-hidden="aria-hidden">
                                  Не выбрано
                                </label>
                              </li>
                              <li>
                                <label class="select__option" for="temp-id-2" aria-hidden="aria-hidden">
                                  Холодный
                                </label>
                              </li>
                              <li>
                                <label class="select__option" for="temp-id-3" aria-hidden="aria-hidden">
                                  Теплый
                                </label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-slide__buttons">
                  <button type="button" class="main-button main-button--orange js-set-next-form">
                    <span>Следующий шаг</span>
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#btn-arrow"></use>
                    </svg>
                  </button>
                </div>
              </li>
              <li class="calculation__swiper-slide swiper-slide form-slide">
                <div class="form-slide__header form-slide__header--second-step">
                  <div class="form-slide__title">
                    <i>2.</i>
                    <span>Оставьте свой номер</span>
                  </div>
                  <span class="form-slide__text">
                    Наш инженер свяжется с вами в ближайшее время для обсуждения сметы
                  </span>
                </div>

                <div class="form-slide__inputs-block">

                  <div class="form-slide__inputs">
                    <div class="form-slide__col">
                      <div class="form-slide__input-wrapper">
                        <div class="input-box">
                          <input type="text" name="user-name" id="input-user-name" class="input-box__input js-text-input"
                            placeholder="Ваше имя" required data-parsley-required="" data-parsley-reqtext="" autocomplete="off">
                        </div>
                      </div>
                    </div>
                    <div class="form-slide__col">
                      <div class="form-slide__input-wrapper">
                        <div class="input-box">
                          <input type="text" name="user-phone" id="input-user-phone" class="input-box__input js-phone-input"
                            placeholder="+7 (___)-___-__-__" required data-parsley-required="" data-parsley-phone="" autocomplete="off">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-slide__inputs">
                    <div class="form-slide__col">
                      <span class="form-slide__label">
                        Удобное время для звонка:
                      </span>

                      <div class="form-slide__input-wrapper">
                        <div class="form-slide__input-radios">
                          <div class="radio-box">
                            <label>
                              <input type="radio" name="call-time" id="radio-input-1" hidden class="visually-hidden"
                                checked>
                              <i></i>
                              <span>10:00 - 13:00</span>
                            </label>
                          </div>
                          <div class="radio-box">
                            <label>
                              <input type="radio" name="call-time" id="radio-input-2" hidden class="visually-hidden">
                              <i></i>
                              <span>13:00 - 16:00</span>
                            </label>
                          </div>
                          <div class="radio-box">
                            <label>
                              <input type="radio" name="call-time" id="radio-input-3" hidden class="visually-hidden">
                              <i></i>
                              <span>16:00 - 19:00</span>
                            </label>
                          </div>
                          <div class="radio-box">
                            <label>
                              <input type="radio" name="call-time" id="radio-input-4" hidden class="visually-hidden">
                              <i></i>
                              <span>10:00 - 13:00</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-slide__buttons">
                  <button type="button" class="main-button main-button--second main-button--reverse js-set-prev-form">
                    <span>Предыдущий шаг</span>
                    <svg aria-hidden="true" class="icon icon-stroke">
                      <use xlink:href="#btn-reverse"></use>
                    </svg>
                  </button>
                  <button type="submit" class="main-button main-button--orange">
                    <span>Оставить заявку</span>
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#plus"></use>
                    </svg>
                  </button>
                </div>

                <div class="form-slide__agreement">
                  <span>Нажимая кнопку «Оставить заявку», вы соглашаетесь с&nbsp;</span>
                  <a href="#">
                    политикой конфиденциальности
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>