<div class="feedback-form">
  <div class="site-container">
    <div class="feedback-form__body">
      <form action="#" class="calculation__body" data-need-validation>
        <div class="calculation__image calculation__image--form">
          <img src="./img/form/pic-1.png" alt="картинка формы">
        </div>

        <div class="calculation__forms">
          <div class="calculation__title calculation__title--no-border">
            <h6 class="text-h3">
              Необходима профессиональная<br> консультация инженера?
            </h6>

            <span>
              Просто оставьте заявку или опишите свой вопрос, а также
              вы можете прикрепить какие-либо файлы для более
              предметного разговора
            </span>
          </div>

          <div class="calculation__slider">
            <div class="feedback-form__form form-slide">
              <div class="form-slide__inputs-block form-slide__inputs-block--feedback">
                <div class="form-slide__inputs form-slide__inputs--feedback">
                  <div class="form-slide__col">
                    <div class="form-slide__input-wrapper">
                      <div class="input-box">
                        <input type="text" name="feedback-user-name" id="feedback-user-name" class="input-box__input"
                          placeholder="Ваше имя" required data-parsley-required="" data-parsley-reqtext="" autocomplete="off" >
                      </div>
                    </div>
                  </div>
                  <div class="form-slide__col">
                    <div class="form-slide__input-wrapper">
                      <div class="input-box">
                        <input type="text" name="feedback-user-phone" id="feedback-user-phone" class="input-box__input js-phone-input"
                          placeholder="+7 (___)-___-__-__" required data-parsley-required="" data-parsley-phone="" autocomplete="off" >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-slide__inputs">
                  <div class="form-slide__col">
                    <div class="form-slide__input-wrapper">
                      <div class="input-box">
                        <textarea name="feedback-user-comment" id="feedback-user-comment"
                          class="input-box__input input-box__input--textarea" placeholder="Описание"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-slide__buttons">
                <label for="upload-user-file"
                  class="main-button main-button--upload main-button--second js-file-upload">
                  <input class="visually-hidden" type="file" name="upload-user-file" id="upload-user-file">
                  <span>Прикрепить файл</span>
                  <svg aria-hidden="true" class="icon icon-upload">
                    <use xlink:href="#upload-file"></use>
                  </svg>
                </label>

                <button type="submit" class="main-button main-button--orange">
                  <span>Оставить заявку</span>
                  <svg aria-hidden="true" class="icon">
                    <use xlink:href="#plus"></use>
                  </svg>
                </button>
              </div>

              <div class="form-slide__agreement">
                <span>Нажимая кнопку «Оставить заявку», вы соглашаетесь с&nbsp;</span>
                <a href="#">
                  политикой конфиденциальности
                </a>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>