<header class="page-header fix-block {{#if pageHeaderClass}} page-header--secondary {{/if}}">
    <div class="page-header__top">
        <div class="page-header__location location">
            <span class="location__text">
                Строительство и монтаж ангаров любой сложности в:
            </span>
            <button class="location__button" type="button"  data-path="modal-location">
                Казань
            </button>
        </div>

        <div class="page-header__info info">
            <a href="mailto:kirstroy@gmail.com" class="info__mail">
                kirstroy@gmail.com
            </a>
            <span class="info__work">
                Пн-Пт: 09:00-18:00
            </span>
        </div>
    </div>
    <nav class="page-header__main">
        <div class="page-header__logo page-header__cell">
            <a href="/" class="logo">
                <span></span>
            </a>
        </div>

        <div class="page-header__menu-open page-header__cell">
            <button type="button" class="open-menu-btn" id="js-open-dropmenu">
                <svg aria-hidden="true" class="icon icon-open">
                    <use xlink:href="#open-menu"></use>
                </svg>
                <svg aria-hidden="true" class="icon icon-close">
                    <use xlink:href="#close-menu"></use>
                </svg>
                <span>Меню</span>
            </button>
        </div>

        <div class="page-header__menu page-header__cell">
            <ul class="menu">
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span>Каталог ангаров</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span>Наши объекты</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span>Цены</span>
                    </a>
                </li>
                <li class="menu__item menu__item--dropdown">
                    <a href="#" class="menu__link">
                        <span>О компании</span>
                    </a>
                    <div class="menu__dropdown dropdown">
                        <ul class="dropdown__body">
                            <li class="dropdown__item">
                                <a href="#" class="dropdown__link">
                                    Контакты
                                </a>
                            </li>
                            <li class="dropdown__item">
                                <a href="#" class="dropdown__link">
                                    Акции
                                </a>
                            </li>
                            <li class="dropdown__item">
                                <a href="#" class="dropdown__link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="dropdown__item">
                                <a href="#" class="dropdown__link">
                                    Оплата и доставка
                                </a>
                            </li>
                            <li class="dropdown__item">
                                <a href="#" class="dropdown__link">
                                    Вакансии
                                </a>
                            </li>
                            <li class="dropdown__item">
                                <a href="#" class="dropdown__link">
                                    Гарантии
                                </a>
                            </li>
                            <li class="dropdown__item">
                                <a href="#" class="dropdown__link">
                                    Блог
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span>Контакты</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="page-header__phone page-header__cell">
            <button type="button" class="phone-link" data-path="modal-form">
                <span>8 918 044 89 22</span>
                <i>Заказать звонок</i>
            </button>
        </div>

        <div class="page-header__link">
            <a href="#" class="main-button">
                <span>Калькулятор ангаров</span>
                <svg aria-hidden="true" class="icon">
                    <use xlink:href="#plus"></use>
                </svg>
            </a>
        </div>

        <div class="page-header__mobile-btn">
            <button type="button" class="mobile-btn" id="js-open-mobile-menu">
                <span>Меню</span>
                <svg aria-hidden="true" class="icon icon-open">
                    <use xlink:href="#open-menu"></use>
                </svg>
                <svg aria-hidden="true" class="icon icon-close">
                    <use xlink:href="#close-menu"></use>
                </svg>
            </button>
        </div>
    </nav>
    <div class="page-header__drop-menu-wrapper">
        <div class="page-header__drop-menu drop-menu">
            <div class="drop-menu__body">
                <div class="drop-menu__col drop-menu__col--big">
                    <div class="type-list">
                        <span class="type-list__title">
                            Ангары по назначению:
                        </span>

                        <ul class="type-list__list">
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Сельскохозяйственные ангары<br> и постройки 
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Складские ангары
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Промышленные ангары
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Ангары для техники
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Спортивные ангары и сооружения
                                </a>
                            </li>
                        </ul>
                    </div>

                     <div class="type-list">
                        <span class="type-list__title">
                            Ангары по форме:
                        </span>

                        <ul class="type-list__list">
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Холодные ангары 
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Теплые ангары
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="type-list">
                        <span class="type-list__title">
                            Ангары по типу:
                        </span>

                        <ul class="type-list__list">
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Арочные ангары
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Прямостенные ангары
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Двухскатные ангары
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Бескаркасные ангары
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Быстровозводимые ангары
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Ангары из металлокаркаса
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Сборно-разборные ангары
                                </a>
                            </li>
                            <li class="type-list__item">
                                <a href="#" class="type-list__link">
                                    Ангары из сендвич панелей
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="drop-menu__col drop-menu__col--middle">
                    <div class="type-list site-list">
                        <span class="site-list">
                            О компании
                        </span>

                        <ul class="site-list__list">
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Акции
                                </a>
                            </li>
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Оплата и доставка
                                </a>
                            </li>
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Вакансии
                                </a>
                            </li>
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Гарантии
                                </a>
                            </li>
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Блог
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="type-list site-list">
                        <span class="site-list">
                            Услуги
                        </span>

                        <ul class="site-list__list">
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Акции
                                </a>
                            </li>
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Оплата и доставка
                                </a>
                            </li>
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Вакансии
                                </a>
                            </li>
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Гарантии
                                </a>
                            </li>
                            <li class="site-list__item">
                                <a href="#" class="site-list__link">
                                    Блог
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="drop-menu__col drop-menu__col--small">
                    <div class="simple-list">
                        <ul class="simple-list__list">
                            <li class="simple-list__item">
                                <a href="#" class="simple-list__link">
                                    Цены
                                </a>
                            </li>
                            <li class="simple-list__item">
                                <a href="#" class="simple-list__link">
                                    Наши объекты
                                </a>
                            </li>
                            <li class="simple-list__item">
                                <a href="#" class="simple-list__link">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header__mobile-menu-wrapper">
        <div class="page-header__mobile-menu mobile-menu">
            <div class="mobile-menu__body">
                <div class="mobile-menu__swiper-cover">
                    <div class="mobile-menu__swiper swiper js-mobile-menu-swiper">
                        <ul class="mobile-menu__swiper-wrapper swiper-wrapper">
                            <li class="mobile-menu__swiper-slide swiper-slide" data-level="1">
                                <ul class="mobile-menu__list">
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--btn js-mobile-swiper-next" data-route="2">
                                            Каталог ангаров
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link">
                                            Наши объекты
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link">
                                            Цены
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--btn js-mobile-swiper-next" data-route="1">
                                            О компании
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link">
                                            Контакты
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mobile-menu__swiper-slide swiper-slide" data-level="1">
                                <ul class="mobile-menu__list">
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--btn mobile-menu__link--back js-mobile-swiper-back">
                                            О компании
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Контакты
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Акции
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Отзывы
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Оплата и доставка
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Вакансии
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Гарантии
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Блог
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mobile-menu__swiper-slide swiper-slide" data-level="2">
                                <ul class="mobile-menu__list">
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--btn mobile-menu__link--back js-mobile-swiper-back">
                                            Каталог ангаров
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--btn js-mobile-swiper-next"  data-route="3">
                                            Ангары по назначению
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--btn js-mobile-swiper-next"  data-route="4">
                                            Ангары по типу
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--btn js-mobile-swiper-next"  data-route="5">
                                            Ангары по форме
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mobile-menu__swiper-slide swiper-slide" data-level="3" id="level-4">
                                <ul class="mobile-menu__list">
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--btn mobile-menu__link--back js-mobile-swiper-back">
                                            Ангары по назначению
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Сельскохозяйственные ангары и постройки 
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Складские ангары
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Промышленные ангары
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Спортивные ангары и сооружения
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Спортивные ангары и сооружения
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mobile-menu__swiper-slide swiper-slide" data-level="4" id="level-5">
                                <ul class="mobile-menu__list">
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--btn mobile-menu__link--back js-mobile-swiper-back">
                                            Ангары по типу
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Ангары тип 1
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                             Ангары тип 2
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                             Ангары тип 3
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                             Ангары тип 4
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                             Ангары тип 5
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mobile-menu__swiper-slide swiper-slide" data-level="5" id="level-6">
                                <ul class="mobile-menu__list">
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--btn mobile-menu__link--back js-mobile-swiper-back">
                                            Ангары по форме
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                            Ангары форма 1
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                             Ангары форма 2
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                             Ангары форма 3
                                        </a>
                                    </li>
                                    <li class="mobile-menu__item">
                                        <a href="#" class="mobile-menu__link mobile-menu__link--small">
                                             Ангары форма 4
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="mobile-menu__footer">
                    <div class="page-footer__right">
                        <a href="#" class="page-footer__phone-link phone-link">
                            <span>8 918 044 89 22</span>
                            <i>Заказать звонок</i>
                        </a>

                        <div class="page-footer__location-info">
                            <div class="page-footer__location location">
                                <svg aria-hidden="true" class="icon">
                                    <use xlink:href="#loc"></use>
                                </svg>
                                <span class="location__text">
                                    Город:
                                </span>
                                <button class="location__button location__button--dark" type="button">
                                    Казань
                                </button>
                            </div>

                            <span class="page-footer__location-address">
                                ул. Мухамедьярова 31А, 3&nbsp;этаж, оф. 301-305
                            </span>
                        </div>

                        <div class="page-footer__about info">
                            <a href="mailto:kirstroy@gmail.com" class="info__mail">
                                kirstroy@gmail.com
                            </a>
                            <span class="info__work">
                                Пн-Пт: 09:00-18:00
                            </span>
                        </div>

                        <a href="#" class="page-footer__link main-button main-button--orange">
                            <span>Калькулятор ангаров</span>
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#plus"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>