<div class="modal">
  <div class="modal__container" data-target="modal">
      <div class="modal__content"><button class="button-reset modal__close-btn modal-close" type="button"><span></span><span></span></button>
          <div class="modal__legend">Поздравляем вы открыли модалку!</div>
      </div>
  </div>
</div>

<div class="modal modal--location">
  <div class="modal__container" data-target="modal-location">
		<form class="modal__content" acrion="#">
			<button class="button-reset modal__close-btn modal-close" type="button">
			    <svg aria-hidden="true" class="icon icon-close">
                    <use xlink:href="#cross"></use>
                </svg>
			</button>
			<div class="modal__legend">Выбор города</div>

			<div class="modal__location-search location-search">
				<div class="location-search__search-bar">
					<div class="input-box input-box--search">
						<input type="text" name="location-search" id="location-search-id" class="input-box__input" placeholder="Введите название города" required>
						<button type="submit" class="input-box__submit">
							<svg aria-hidden="true" class="icon icon-search">
								<use xlink:href="#search"></use>
							</svg>
						</button>
					</div>
				</div>
				<div class="location-search__list-wrapper">
					<ul class="location-search__list">
						<li class="location-search__item">
							<a href="#" class="location-search__link location-search__link--active" id="">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#loc"></use>
								</svg>
								<span>
									Казань
								</span>
							</a>
						</li>
						<li class="location-search__item">
							<a href="#" class="location-search__link" id="">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#loc"></use>
								</svg>
								<span>
									Москва
								</span>
							</a>
						</li>
						<li class="location-search__item">
							<a href="#" class="location-search__link" id="">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#loc"></use>
								</svg>
								<span>
									Санкт-Петербург
								</span>
							</a>
						</li>
						<li class="location-search__item">
							<a href="#" class="location-search__link" id="">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#loc"></use>
								</svg>
								<span>
									Ростов-на-Дону
								</span>
							</a>
						</li>
						<li class="location-search__item">
							<a href="#" class="location-search__link" id="">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#loc"></use>
								</svg>
								<span>
									Москва
								</span>
							</a>
						</li>
						<li class="location-search__item">
							<a href="#" class="location-search__link" id="">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#loc"></use>
								</svg>
								<span>
									Санкт-Петербург
								</span>
							</a>
						</li>
						<li class="location-search__item">
							<a href="#" class="location-search__link" id="">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#loc"></use>
								</svg>
								<span>
									Ростов-на-Дону
								</span>
							</a>
						</li>
						<li class="location-search__item">
							<a href="#" class="location-search__link" id="">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#loc"></use>
								</svg>
								<span>
									Москва
								</span>
							</a>
						</li>
						<li class="location-search__item">
							<a href="#" class="location-search__link" id="">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#loc"></use>
								</svg>
								<span>
									Санкт-Петербург
								</span>
							</a>
						</li>
						<li class="location-search__item">
							<a href="#" class="location-search__link" id="">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#loc"></use>
								</svg>
								<span>
									Ростов-на-Дону
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</form>
  </div>
</div>

