.breadcrumbs {
  position: relative;
  z-index: 50;
  padding: 3rem 0;
  color: var(--white, #fff);

  @include  breakpoint(small-tablet) {
    padding: 1.5rem 0;
    margin-right: -1.5rem;
    padding-right: 1.5rem;
    overflow: hidden;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: -1.5rem;
    padding-right: 1.5rem;
    overflow: auto;

    @include noScrollbar();
  }
  
  &__link {
    display: block;
    font: var(--font-text-13);
    font-weight: 600;;
    opacity: 0.55;
    white-space: nowrap;
    pointer-events: none;
  }

  &__item {
    position: relative;
    padding-right: 2rem;

    &::after {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      color: inherit;
      font: var(--font-text-13);
      font-weight: 600;
      opacity: 0.55;
      transform: translateY(-50%);
      content: "\2014";
    }

    &:last-child {
      padding-right: 0;
      opacity: 1;

      &::after {
        content: none;
      }
      
      .breadcrumbs__link {
        opacity: 1;
      }
    }
  }

  &--dark {
    padding: 2.5rem 0;
    margin-bottom: 3.5rem;

    @include  breakpoint(small-tablet) {
      padding: 1.5rem 0;
      margin-bottom: 2.5rem;
    }

    .breadcrumbs__link {
      color: var(--grey, #8A8F94);
      opacity: 1;
    }

    .breadcrumbs__item {
      &:last-child {
        .breadcrumbs__link {
          color: var(--black, #212529);
        }
      }

      &::after {
        color: var(--grey, #8A8F94);
      }
    }
  }
}