.developer {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;

  @include breakpoint(mobile) {
    column-gap: 0.8rem;
  }

  span {
    display: block;
    opacity: 0.55;
    transition: var(--transition);
  }

  .icon {
    display: block;
    width: 10.9rem;
    height: 3rem;
    fill-opacity: 0.45;
    transition: var(--transition);

    @include breakpoint(mobile) {
      width: 9.1rem;
      height: 2.5rem;
    }
  }

  &:hover {
    span {
      opacity: 1;
    }
  
    .icon {
      fill-opacity: 1;
    }
  }
}