.feedback-form {
  .calculation__image {
    max-height: 53.5rem;
    background: linear-gradient(to right, #F6F8FA 0%, #F6F8FA 48%, transparent 48%, transparent 100%);
  }

  .calculation__title {
    padding-bottom: 0;
    margin-bottom: 4rem;

    @include breakpoint(portrait-tablet) {
      margin-bottom: 2.5rem;
    }
  }
}