.multi-section {
  &__article {
    margin-bottom: 16rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include  breakpoint(small-desktop) {
      margin-bottom: 10rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include  breakpoint(tablet) {
      margin-bottom: 8rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}