.objects-list {
  &__list {
    display: flex;
    flex-flow: row wrap;
    gap: 4.5rem 3rem;
    column-gap: 3rem;

    @include breakpoint(laptop) {
      gap: 3.5rem 2rem;
    }

    @include breakpoint(small-tablet) {
      flex-flow: column nowrap;
      gap: 3.5rem;
      column-gap: unset;
    }
  }

  &__item {
    width: calc(100% / 3 - ( (3rem * 2) / 3));

    &.project-cart {
      max-width: 100%;
    }

    @include breakpoint(laptop) {
      width: calc(100% / 2 - ( (2rem) / 2));
    }

    @include breakpoint(small-tablet) {
      width: 100%;
    }
  }
}