.peculiarities {
  &__body {
    padding: 3.5rem 6rem 3.5rem 4rem ;
    color: var(--black, #212529);
    background-color: var(--back-2, #F6F8FA);

    @include breakpoint(portrait-tablet) {
      padding: 2rem;
    }
  }

  &__block {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(portrait-tablet) {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h6 {
      font: var(--font-text-22);
    }

    & > * {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      li {
        position: relative;
        margin-bottom: 1rem;
        padding-left: 1.8rem;

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          z-index: 10;
          width: 0.5rem;
          height: 0.5rem;
          background-color: var(--orange, #FF3F00);
          transform: translateY(-50%);
          content: "";
        }

        &:last-child {
          margin-bottom: 0;
        }

        span {
          display: block;
        }
      }
    }
  }
}