.reviews-list {
  &__title {
    margin-bottom: 4.5rem;

    @include  breakpoint(small-tablet) {
      margin-bottom: 2.5rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;

    @include  breakpoint(portrait-tablet) {
      flex-flow: column nowrap;
    }
  }

  &__item {
    width: calc(100% / 2 - (1.5rem / 2));

    @include  breakpoint(portrait-tablet) {
      width: 100%;
    }
  }
}