.stages {
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 2rem;
    margin-bottom: 4.5rem;

    @include  breakpoint(tablet) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2.5rem;
    }

    &--half {
      width: 50%;
      flex-direction: column;
      align-items: flex-start;

      .stages__title {
        margin-bottom: 2.5rem;

        @include breakpoint(tablet) {
          margin-bottom: 2rem;
        }
      }

      @include breakpoint(tablet) {
        width: 100%;
      }
    }
  }

  &__subtitle {
    display: block;
    color: var(--grey-4, #72787e);
    font-weight: 400;

    @include  breakpoint(tablet) {
      margin-top: 1.5rem;
    }

    &--max-width {
      max-width: 43.5rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 3rem;

    @include  breakpoint(laptop) {
      display: flex;
      align-items: stretch;
      column-gap: 2rem;
      width: 100%;
      max-width: max-content;
    }
  }

  &__item {
    position: relative;
    margin-bottom: -1px;

    border-style: solid;
    border-width: 0.1rem 0 0.1rem 0;
    border-color: var(--grey-5, #e8e8e8);

    &:not(:first-child) {
      padding: 3rem 9rem 3rem 2.2rem;
    }

    &:nth-child(4),
    &:first-child {
      padding: 3rem 9rem 3rem 0;
    }

    &:nth-child(2),
    &:nth-child(5) {
      &::after,
      &::before {
        position: absolute;
        top: 50%;
        z-index: 1;
        width: 0.1rem;
        height: calc(100% - 3rem);
        background-color: var(--grey-5, #e8e8e8);
        transform: translateY(-50%);
        content: "";
      }

      &::after {
        right: -1.5rem;
      }

      &::before {
        left: -1.5rem;
      }
    }

    @include  breakpoint(laptop) {
      width: 100%;
      margin-bottom: unset;
      padding: 2rem 1.5rem 2rem 2rem;

      border-style: solid;
      border-width: 0.1rem 0 0.1rem 0;
      border-color: var(--grey-5, #e8e8e8);

      &:first-child {
        padding: 2rem 1.5rem 2rem 2rem;
        border-width: 0.1rem 0 0.1rem 0;

        &::after,
        &::before {
          position: absolute;
          top: 50%;
          z-index: 1;
          width: 0.1rem;
          height: calc(100% - 3rem);
          background-color: var(--grey-5, #e8e8e8);
          transform: translateY(-50%);
          content: "";
        }
  
        &::after {
          right: -1rem;
        }
  
        &::before {
          left: -1rem;
        }
      }

      &:not(:first-child) {
        padding: 2rem 1.5rem 2rem 2rem;
        border-width: 0.1rem 0 0.1rem 0;

        &::after,
        &::before {
          position: absolute;
          top: 50%;
          z-index: 1;
          width: 0.1rem;
          height: calc(100% - 3rem);
          background-color: var(--grey-5, #e8e8e8);
          transform: translateY(-50%);
          content: "";
        }
  
        &::after {
          right: -1rem;
        }
  
        &::before {
          content: none;
        }
      }
    }
  }

  &__list-wrapper {
    &.swiper {
      margin-right: -1.5rem;
      padding-right: 1.5rem;

      .stages__list {
        position: relative;
        width: 100%;
        column-gap: unset;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
      }

      .stages__item {
        flex-shrink: 0;
        width: 100%;
        max-width: 32rem;
        position: relative;
        transition-property: transform;

        @include breakpoint(small-tablet) {
          max-width:79%;
        }
      }
    }
  }

}