.stat {
  display: flex;
  flex-direction: column;

  &__top {
    display: inline-flex;
    column-gap: 0.5rem;
    align-items: baseline;
  }

  &__number {
    color: var(--orangem, #ff3f00);
  }

  &__dim {
    margin-top: 1rem;
    display: block;
    font: var(--font-text-20);

    @include  breakpoint(small-tablet) {
      margin-top: 0.5rem;
    }
  }
}