{{#extend "layout"}}
{{#content "main"}}

<section class="image-intro {{#if pageHeaderClass}} image-intro--big {{/if}}">

  <div class="site-container">
    {{>breadcrumbs}}

    <div class="image-intro__intro-row hero__intro-row">
      <div class="hero__left  image-intro__left">
        <div class="image-intro__title text-h2">
          О компании
        </div>
      </div>
      <div class="hero__right">
        <div class="image-intro__text-wrapper">
          <div class="introduction__subtitle">
            Имеем богатый опыт в строительстве ангаров и можем
            гарантировать высокое качество нашей работы
          </div>
          <div class="introduction__text image-intro__text">
            Решив работать с нами, вы получите надежного и компетентного
            партнера, который обеспечит качественное строительство вашего
            ангара и удовлетворит все ваши потребности. Мы гордимся нашей
            работой и стремимся к высокому уровню удовлетворенности наших
            клиентов.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="image-intro__picture-wrapper">
    <div class="image-intro__picture">
      <picture>
        <source type="image/webp" srcset="./img/about/intro.jpg" alt="image intro image">
        <img src="./img/about/intro.jpg" alt="hero image">
      </picture>
    </div>
  </div>
</section>

<section class="multi-section section-padding">
  <article class="multi-section__article">
    <div class="introduction">
      <div class="site-container">
        <div class="introduction__content-wrapper">
          <div class="introduction__intro-row hero__intro-row">
            <div class="hero__left">
              <div class="introduction__title text-h3">
                Производим и строим ангары «Под ключ» с 2015 года
              </div>
            </div>
            <div class="hero__right"></div>
          </div>
          <div class="introduction__intro-row introduction__intro-row--margin">
            <ul class="introduction__list introduction__list--row">
              <li class="introduction__item stat">
                <div class="stat__top">
                  <span class="stat__number text-h1">21</span>
                  <span class="stat__dim">день</span>
                </div>
                <span class="stat__text">
                  Средний срок строительства
                </span>
              </li>
              <li class="introduction__item stat">
                <div class="stat__top">
                  <span class="stat__number text-h1">32</span>
                  <span class="stat__dim">cотрудника</span>
                </div>
                <span class="stat__text">
                  Различных профессий в нашем штате
                </span>
              </li>
              <li class="introduction__item stat">
                <div class="stat__top">
                  <span class="stat__number text-h1">60 000</span>
                  <span class="stat__dim">кв.м.</span>
                </div>
                <span class="stat__text">
                  Общая площадь выполненной застройки
                </span>
              </li>
              <li class="introduction__item stat">
                <div class="stat__top">
                  <span class="stat__number text-h1">8</span>
                  <span class="stat__dim">лет</span>
                </div>
                <span class="stat__text">
                  Опыта работы в сфере
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="production">
      <div class="site-container">
        <div class="production__content-wrapper">
          <div class="production__intro-row hero__intro-row">
            <div class="hero__left">
              <div class="production__title text-h3">
                Наше производство
              </div>
            </div>
            <div class="hero__right">
              <div class="production__info">
                <h6>
                  С удовольствием показываем небольшую часть производства
                </h6>

                <p>
                  Укрепление и развитие структуры представляет собой интересный
                  эксперимент проверки форм развития. Разнообразный и богатый
                  опыт новая модель организационной деятельности требуют от нас
                  анализа систем массового участия. Идейные соображения высшего
                  порядка, а также постоянный количественный рост и сфера нашей
                  активности в значительной степени обуславливает создание модели
                  развития. Укрепление и развитие структуры представляет собой
                  интересный эксперимент проверки форм развития.
                </p>

                <div class="production__list">
                  <span>
                    Даем гарантию на ангары:
                  </span>

                  <ul>
                    <li>
                      <i>
                        от коррозии — 5 лет
                      </i>
                    </li>
                    <li>
                      <i>
                        на внешнюю обшивку — 15 лет
                      </i>
                    </li>
                    <li>
                      <i>
                        от воздействия окружающей среды — 5 лет
                      </i>
                    </li>
                    <li>
                      <i>
                        она целостность конструкции — 5 лет
                      </i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="production__images-wrapper">
            <ul class="production__images">
              <li class="production__image">
                <picture>
                  <source type="image/webp" srcset="./img/productions/pic-1.png" alt="productions image">
                  <img src="./img/productions/pic-1.png" alt="productions image">
                </picture>
              </li>
              <li class="production__image">
                <picture>
                  <source type="image/webp" srcset="./img/productions/pic-2.png" alt="productions image">
                  <img src="./img/productions/pic-2.png" alt="productions image">
                </picture>
              </li>
              <li class="production__image">
                <picture>
                  <source type="image/webp" srcset="./img/productions/pic-3.png" alt="productions image">
                  <img src="./img/productions/pic-3.png" alt="productions image">
                </picture>
              </li>
              <li class="production__image">
                <picture>
                  <source type="image/webp" srcset="./img/productions/pic-4.png" alt="productions image">
                  <img src="./img/productions/pic-4.png" alt="productions image">
                </picture>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="reviews section-padding">
  <div class="site-container">
    <div class="reviews__body">

      <div class="reviews__header stages__header">
        <div class="stages__title text-h3">Отзывы о нашей работе</div>
        <span class="stages__subtitle stages__subtitle--max-width">Нам доверяют строительство ангаров по всей России,
          доверьтесь и вы</span>
      </div>

      <div class="reviews__swiper-cover carousel__swiper-cover js-reviews-swiper">
        <div class="reviews__swiper swiper">
          <ul class="reviews__swiper-wrapper swiper-wrapper">
            <li class="reviews__swiper-slide swiper-slide review-cart">
              <div class="review-cart__body">
                <div class="review-cart__author">
                  <div class="review-cart__author-pic">
                    <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
                  </div>
                  <div class="review-cart__author-info">
                    <span class="review-cart__author-name">
                      Петров Александр
                    </span>
                    <span class="review-cart__date">
                      21.04.2023
                    </span>
                  </div>
                </div>
                <div class="review-cart__review review-cart__review--full">
                  <div class="review-cart__text-wrapper">
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                  </div>

                  <button type="button" class="review-cart__expand-button expand-button"
                    data-text="Читать полностью"></button>
                </div>
              </div>
            </li>
            <li class="reviews__swiper-slide swiper-slide review-cart">
              <div class="review-cart__body">
                <div class="review-cart__author">
                  <div class="review-cart__author-pic">
                    <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
                  </div>
                  <div class="review-cart__author-info">
                    <span class="review-cart__author-name">
                      Петров Александр
                    </span>
                    <span class="review-cart__date">
                      21.04.2023
                    </span>
                  </div>
                </div>
                <div class="review-cart__review review-cart__review--full">
                  <div class="review-cart__text-wrapper">
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                  </div>

                  <button type="button" class="review-cart__expand-button expand-button"
                    data-text="Читать полностью"></button>
                </div>
              </div>
            </li>
            <li class="reviews__swiper-slide swiper-slide review-cart">
              <div class="review-cart__body">
                <div class="review-cart__author">
                  <div class="review-cart__author-pic">
                    <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
                  </div>
                  <div class="review-cart__author-info">
                    <span class="review-cart__author-name">
                      Петров Александр
                    </span>
                    <span class="review-cart__date">
                      21.04.2023
                    </span>
                  </div>
                </div>
                <div class="review-cart__review review-cart__review--full">
                  <div class="review-cart__text-wrapper">
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                  </div>

                  <button type="button" class="review-cart__expand-button expand-button"
                    data-text="Читать полностью"></button>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="reviews__controls">
          <button class="slider-btn slider-btn--light reviews__slider-btn reviews__slider-btn--prev">
            <svg aria-hidden="true" class="icon">
              <use xlink:href="#slider-arrow"></use>
            </svg>
          </button>
          <button
            class="slider-btn slider-btn--light slider-btn--reverse reviews__slider-btn reviews__slider-btn--next">
            <svg aria-hidden="true" class="icon">
              <use xlink:href="#slider-arrow"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="reviews__link-wrapper">
        <a href="#" class="main-button main-button--orange">
          <span>Cмотреть все</span>
          <svg aria-hidden="true" class="icon">
            <use xlink:href="#plus"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="multi-section section-padding">

  <article class="multi-section__article">
    <div class="certificates">
      <div class="site-container">
        <div class="stages__header">
          <div class="stages__title text-h3">Лицензии и сертификаты</div>
        </div>

        <div class="certificates__swiper-cover  carousel__swiper-cover js-certificates-swiper">
          <div class="certificates__swiper swiper">
            <ul class="certificates__swiper-swapper swiper-wrapper">
              <li class="certificates__swiper-slide swiper-slide">
                <a href="./img/about/certificates-1.png" class="certificates__link" data-fancybox
                  data-caption="Подпись сертификата">
                  <picture>
                    <source type="image/webp" srcset="./img/about/certificates.png" alt="certificates image">
                    <img src="./img/about/certificates.png" alt="certificates image">
                  </picture>
                </a>
              </li>
              <li class="certificates__swiper-slide swiper-slide">
                <a href="./img/about/certificates-1.png" class="certificates__link" data-fancybox
                  data-caption="Подпись лицензии">
                  <picture>
                    <source type="image/webp" srcset="./img/about/certificates-1.png" alt="certificates image">
                    <img src="./img/about/certificates-1.png" alt="certificates image">
                  </picture>
                </a>
              </li>
              <li class="certificates__swiper-slide swiper-slide">
                <a href="./img/about/certificates-1.png" class="certificates__link" data-fancybox
                  data-caption="Подпись сертификата">
                  <picture>
                    <source type="image/webp" srcset="./img/about/certificates.png" alt="certificates image">
                    <img src="./img/about/certificates.png" alt="certificates image">
                  </picture>
                </a>
              </li>
              <li class="certificates__swiper-slide swiper-slide">
                <a href="./img/about/certificates-1.png" class="certificates__link" data-fancybox
                  data-caption="Подпись лицензии">
                  <picture>
                    <source type="image/webp" srcset="./img/about/certificates-1.png" alt="certificates image">
                    <img src="./img/about/certificates-1.png" alt="certificates image">
                  </picture>
                </a>
              </li>
              <li class="certificates__swiper-slide swiper-slide">
                <a href="./img/about/certificates-1.png" class="certificates__link" data-fancybox
                  data-caption="Подпись сертификата">
                  <picture>
                    <source type="image/webp" srcset="./img/about/certificates.png" alt="certificates image">
                    <img src="./img/about/certificates.png" alt="certificates image">
                  </picture>
                </a>
              </li>
              <li class="certificates__swiper-slide swiper-slide">
                <a href="./img/about/certificates-1.png" class="certificates__link" data-fancybox
                  data-caption="Подпись лицензии">
                  <picture>
                    <source type="image/webp" srcset="./img/about/certificates-1.png" alt="certificates image">
                    <img src="./img/about/certificates-1.png" alt="certificates image">
                  </picture>
                </a>
              </li>
              <li class="certificates__swiper-slide swiper-slide">
                <a href="./img/about/certificates-1.png" class="certificates__link" data-fancybox
                  data-caption="Подпись сертификата">
                  <picture>
                    <source type="image/webp" srcset="./img/about/certificates.png" alt="certificates image">
                    <img src="./img/about/certificates.png" alt="certificates image">
                  </picture>
                </a>
              </li>
              <li class="certificates__swiper-slide swiper-slide">
                <a href="./img/about/certificates-1.png" class="certificates__link" data-fancybox
                  data-caption="Подпись лицензии">
                  <picture>
                    <source type="image/webp" srcset="./img/about/certificates-1.png" alt="certificates image">
                    <img src="./img/about/certificates-1.png" alt="certificates image">
                  </picture>
                </a>
              </li>
            </ul>
          </div>

          <div class="projects-slider__controls">
            <button class="slider-btn certificates__slider-btn certificates__slider-btn--prev">
              <svg aria-hidden="true" class="icon">
                <use xlink:href="#slider-arrow"></use>
              </svg>
            </button>
            <button class="slider-btn slider-btn--reverse certificates__slider-btn certificates__slider-btn--next">
              <svg aria-hidden="true" class="icon">
                <use xlink:href="#slider-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="feedback-form">
      <div class="site-container">
        <div class="feedback-form__body">
          <form action="#" class="calculation__body">
            <div class="calculation__image calculation__image--form">
              <img src="./img/form/pic-1.png" alt="картинка формы">
            </div>

            <div class="calculation__forms">
              <div class="calculation__title calculation__title--no-border">
                <h6 class="text-h3">
                  Необходима профессиональная<br> консультация инженера?
                </h6>

                <span>
                  Просто оставьте заявку или опишите свой вопрос, а также
                  вы можете прикрепить какие-либо файлы для более
                  предметного разговора
                </span>
              </div>

              <div class="calculation__slider">
                <div class="feedback-form__form form-slide">
                  <div class="form-slide__inputs-block form-slide__inputs-block--feedback">
                    <div class="form-slide__inputs form-slide__inputs--feedback">
                      <div class="form-slide__col">
                        <div class="form-slide__input-wrapper">
                          <div class="input-box">
                            <input type="text" name="feedback-user-name" id="feedback-user-name"
                              class="input-box__input" placeholder="Ваше имя" required>
                          </div>
                        </div>
                      </div>
                      <div class="form-slide__col">
                        <div class="form-slide__input-wrapper">
                          <div class="input-box">
                            <input type="text" name="feedback-user-phone" id="feedback-user-phone"
                              class="input-box__input" placeholder="+7 (___)-___-__-__" required>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-slide__inputs">
                      <div class="form-slide__col">
                        <div class="form-slide__input-wrapper">
                          <div class="input-box">
                            <textarea name="feedback-user-comment" id="feedback-user-comment"
                              class="input-box__input input-box__input--textarea" placeholder="Описание"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-slide__buttons">
                    <label for="upload-user-file"
                      class="main-button main-button--upload main-button--second js-file-upload">
                      <input class="visually-hidden" type="file" name="upload-user-file" id="upload-user-file">
                      <span>Прикрепить файл</span>
                      <svg aria-hidden="true" class="icon icon-upload">
                        <use xlink:href="#upload-file"></use>
                      </svg>
                    </label>

                    <button type="button" class="main-button main-button--orange">
                      <span>Оставить заявку</span>
                      <svg aria-hidden="true" class="icon">
                        <use xlink:href="#plus"></use>
                      </svg>
                    </button>
                  </div>

                  <div class="form-slide__agreement">
                    <span>Нажимая кнопку «Оставить заявку», вы соглашаетесь с&nbsp;</span>
                    <a href="#">
                      политикой конфиденциальности
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
</section>

{{/content}}
{{/extend}}