{{#extend "layout"}}
{{#content "main"}}

<section class="image-intro {{#if imageIntroClass}} image-intro--big {{/if}}">
  <div class="site-container">
    {{>breadcrumbs}}

    <div class="image-intro__intro-row hero__intro-row">
      <div class="hero__left image-intro__left image-intro__left--full-width">
        <h1 class="image-intro__title text-h2">
          H1 Ангар временного хранения из металлоконструкций
        </h1>
      </div>
      <div class="hero__right"></div>
    </div>
  </div>

  <div class="image-intro__picture-wrapper">
    <div class="image-intro__picture">
      <picture>
        <source type="image/webp" srcset="./img/article/intro.png" alt="image intro image">
        <img src="./img/article/intro.png" alt="image intro image">
      </picture>
    </div>
  </div>
</section>

<section class="multi-section section-padding section-padding--low-bottom-padding">
  <div class="multi-section__article">
    <div class="article-section">
      <div class="site-container article-section__container">
        <section>
          <div>
            <article id="article-1">
              <h2>
                H2 Виды ангаров и их назначение
              </h2>

              <div>
                <span>
                  Идейные соображения высшего порядка, а также реализация намеченных плановых заданий
                  представляет собой интересный эксперимент проверки систем массового участия. Идейные
                  соображения высшего порядка, а также укрепление и развитие структуры позволяет
                  оценить значение систем массового участия. Разнообразный и богатый опыт начало
                  повседневной работы по формированию позиции представляет собой интересный эксперимент
                  проверки систем массового участия.
                </span>

                <span>
                  Таким образом новая модель организационной деятельности играет важную роль в формировании
                  форм развития. Повседневная практика показывает, что рамки и место обучения кадров в
                  значительной степени обуславливает создание систем массового участия. С другой стороны
                  рамки и место обучения кадров представляет собой интересный эксперимент проверки
                  направлений прогрессивного развития.
                </span>
              </div>

              <figure>
                <img src="./img/article/example.png" alt="Пример реализации нашего объекта" />
                <figcaption>Пример реализации нашего объекта</figcaption>
              </figure>
            </article>

            <article id="article-2">
              <h2>
                H2 Преимущества
              </h2>

              <div>
                <span>
                  Идейные соображения высшего порядка, а также реализация намеченных плановых
                  заданий представляет собой интересный эксперимент проверки систем массового
                  участия. Идейные соображения высшего порядка, а также укрепление и развитие
                  структуры позволяет оценить значение систем массового участия. Разнообразный
                  и богатый опыт начало повседневной работы по формированию позиции представляет
                  собой интересный эксперимент проверки систем массового участия:
                </span>

                <ul>
                  <li>
                    <span>
                      Построим ангар необходимого типа
                    </span>
                  </li>
                  <li>
                    <span>
                      Подготовим проектную документацию
                    </span>
                  </li>
                  <li>
                    <span>
                      Изготовим промышленные полы
                    </span>
                  </li>
                  <li>
                    <span>
                      Выполним теплоизоляцию ангара
                    </span>
                  </li>
                  <li>
                    <span>
                      Электромонтажные работы
                    </span>
                  </li>
                  <li>
                    <span>
                      Выполним необходимые геодезические работы
                    </span>
                  </li>
                </ul>
              </div>

              <h3>
                H3 Виды ангаров и их назначение
              </h3>

              <div>
                <span>
                  Идейные соображения высшего порядка, а также реализация намеченных плановых заданий
                  представляет собой интересный эксперимент проверки систем массового участия. Идейные
                  соображения высшего порядка, а также укрепление и развитие структуры позволяет
                  оценить значение систем массового участия. Разнообразный и богатый опыт начало
                  повседневной работы по формированию позиции представляет собой интересный эксперимент
                  проверки систем массового участия.
                </span>

                <span>
                  Таким образом новая модель организационной деятельности играет важную роль в формировании
                  форм развития. Повседневная практика показывает, что рамки и место обучения кадров в
                  значительной степени обуславливает создание систем массового участия. С другой стороны
                  рамки и место обучения кадров представляет собой интересный эксперимент проверки
                  направлений прогрессивного развития.
                </span>
              </div>
            </article>

            <article id="article-3">
              <h2>
                H2 Примеры работ
              </h2>
              <div>
                <span>
                  Идейные соображения высшего порядка, а также реализация намеченных плановых
                  заданий представляет собой интересный эксперимент проверки систем массового
                  участия. Идейные соображения высшего порядка, а также укрепление и развитие
                  структуры позволяет оценить значение систем массового участия. Разнообразный
                  и богатый опыт начало повседневной работы по формированию позиции представляет
                  собой интересный эксперимент проверки систем массового участия:
                </span>

                <ul>
                  <li>
                    <p>
                      Сельскохозяйственные ангары и постройки
                    </p>
                  </li>
                  <li>
                    <p>
                      Складские ангары
                    </p>
                  </li>
                  <li>
                    <p>
                      Промышленные ангары
                    </p>
                  </li>
                  <li>
                    <p>
                      Ангары для техники
                    </p>
                  </li>
                  <li>
                    <p>
                      Спортивные ангары и сооружения
                    </p>
                  </li>
                </ul>
              </div>

              <h4>
                H4 Реализация наших ангаров:
              </h4>

              <div>
                <span>
                  Идейные соображения высшего порядка, а также реализация намеченных плановых заданий
                  представляет собой интересный эксперимент проверки систем массового участия. Идейные
                  соображения высшего порядка, а также укрепление и развитие структуры позволяет
                  оценить значение систем массового участия. Разнообразный и богатый опыт начало
                  повседневной работы по формированию позиции представляет собой интересный эксперимент
                  проверки систем массового участия.
                </span>

                <span>
                  Таким образом новая модель организационной деятельности играет важную роль в формировании
                  форм развития. Повседневная практика показывает, что рамки и место обучения кадров в
                  значительной степени обуславливает создание систем массового участия. С другой стороны
                  рамки и место обучения кадров представляет собой интересный эксперимент проверки
                  направлений прогрессивного развития.
                </span>
              </div>

              <div class="carousel__swiper-cover js-article-swiper">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="./img/blog/pic-1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/blog/pic-2.png" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/blog/pic-1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="./img/blog/pic-2.png" alt="">
                    </div>
                  </div>
                </div>

                <div class="projects-slider__controls">
                  <button class="slider-btn _slider-btn--prev">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#slider-arrow"></use>
                    </svg>
                  </button>
                  <button class="slider-btn slider-btn--reverse _slider-btn--next">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#slider-arrow"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>

            <article id="article-4">
              <h2>
                H2 Этапы работы
              </h2>

              <div>
                <span>
                  Идейные соображения высшего порядка, а также реализация намеченных плановых заданий
                  представляет собой интересный эксперимент проверки систем массового участия. Идейные
                  соображения высшего порядка, а также укрепление и развитие структуры позволяет
                  оценить значение систем массового участия. Разнообразный и богатый опыт начало
                  повседневной работы по формированию позиции представляет собой интересный эксперимент
                  проверки систем массового участия.
                </span>

                <ol>
                  <li>
                    <span>
                      После предварительной беседы с клиентом и осмотра места, выбранного под строительство. Сюда также
                      входят геодезические работы, если в них есть необходимость
                    </span>
                  </li>
                  <li>
                    <span>
                      Каждый этап в обязательном порядке согласуется с заказчиком
                    </span>
                  </li>
                  <li>
                    <span>
                      Выполнение комплекса работ по возведению фундамента в зависимости от типа почвы
                    </span>
                  </li>
                  <li>
                    <span>
                      Последующая обшивка в зависимости от типа ангара. На данном этапе также выполняется общая
                      гидроизоляция
                    </span>
                  </li>
                  <li>
                    <span>
                      Монтаж кабелей, освещения и слаботочных систем (пожарная и  охранная сигнализации,
                      видеонаблюдение)
                    </span>
                  </li>
                </ol>
              </div>

            </article>

          </div>

          <nav>
            <ul>
              <li>
                <a href="#article-1" class="_active">
                  Виды ангаров и их назначение
                </a>
              </li>
              <li>
                <a href="#article-2">
                  Преимущества
                </a>
              </li>
              <li>
                <a href="#article-">
                  Металлоконструкции
                </a>
              </li>
              <li>
                <a href="#article-">
                  Из чего формируется стоимость
                </a>
              </li>
              <li>
                <a href="#article-3">
                  Примеры работ
                </a>
              </li>
              <li>
                <a href="#article-4">
                  Как мы работаем
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </div>
  </div>

  <article class="multi-section__article">
    <div class="projects-slider carousel">
      <div class="site-container">
        <div class="projects-slider__body">
          <div class="projects-slider__header stages__header">
            <div class="stages__title text-h3">Читайте также</div>
          </div>

          <div class="projects-slider__swiper-cover carousel__swiper-cover js-projects-swiper">
            <div class="projects-slider__swiper swiper">
              <ul class="projects-slider__swiper-wrapper swiper-wrapper">
                <li class="projects-slider__swiper-slide swiper-slide">
                  <div class="blog-item">
                    <div class="blog-item__image">
                      <img src="./img/blog/pic-1.png" alt="blog image">
                    </div>
                    <div class="blog-item__desc">
                      <span class="blog-item__title">
                        Ангар временного хранения из металлоконструкций
                      </span>
                      <p class="blog-item__text">
                        Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому
                        кругу...
                        Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому
                        кругу...
                        Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому
                        кругу...
                      </p>
                    </div>
                    <a href="#" class="blog-item__link">
                      <span>Читать полностью</span>
                    </a>
                  </div>
                </li>
                <li class="projects-slider__swiper-slide swiper-slide project-cart">
                  <div class="blog-item">
                    <div class="blog-item__image">
                      <img src="./img/blog/pic-2.png" alt="blog image">
                    </div>
                    <div class="blog-item__desc">
                      <span class="blog-item__title">
                        С удовольствием показываем небольшую часть производства
                      </span>
                      <p class="blog-item__text">
                        Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому
                        кругу...
                      </p>
                    </div>
                    <a href="#" class="blog-item__link">
                      <span>Читать полностью</span>
                    </a>
                  </div>
                </li>
                <li class="projects-slider__swiper-slide swiper-slide">
                  <div class="blog-item">
                    <div class="blog-item__image">
                      <img src="./img/blog/pic-1.png" alt="blog image">
                    </div>
                    <div class="blog-item__desc">
                      <span class="blog-item__title">
                        Ангар временного хранения из металлоконструкций
                      </span>
                      <p class="blog-item__text">
                        Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому
                        кругу...
                        Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому
                        кругу...
                        Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому
                        кругу...
                      </p>
                    </div>
                    <a href="#" class="blog-item__link">
                      <span>Читать полностью</span>
                    </a>
                  </div>
                </li>
                <li class="projects-slider__swiper-slide swiper-slide project-cart">
                  <div class="blog-item">
                    <div class="blog-item__image">
                      <img src="./img/blog/pic-2.png" alt="blog image">
                    </div>
                    <div class="blog-item__desc">
                      <span class="blog-item__title">
                        С удовольствием показываем небольшую часть производства
                      </span>
                      <p class="blog-item__text">
                        Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому
                        кругу...
                      </p>
                    </div>
                    <a href="#" class="blog-item__link">
                      <span>Читать полностью</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>

            <div class="projects-slider__controls">
              <button class="slider-btn projects-slider__slider-btn projects-slider__slider-btn--prev">
                <svg aria-hidden="true" class="icon">
                  <use xlink:href="#slider-arrow"></use>
                </svg>
              </button>
              <button
                class="slider-btn slider-btn--reverse projects-slider__slider-btn projects-slider__slider-btn--next">
                <svg aria-hidden="true" class="icon">
                  <use xlink:href="#slider-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    {{> form }}
  </article>
</section>

{{/content}}
{{/extend}}