{{#extend "layout"}}
{{#content "main"}}

<section class="image-intro {{#if imageIntroClass}} image-intro--big {{/if}}">
  <div class="site-container">
    {{>breadcrumbs}}

    <div class="image-intro__intro-row hero__intro-row">
      <div class="hero__left image-intro__left">
        <div class="image-intro__title text-h2">
          Блог
        </div>
      </div>
      <div class="hero__right"></div>
    </div>
  </div>

  <div class="image-intro__picture-wrapper">
    <div class="image-intro__picture">
      <picture>
        <source type="image/webp" srcset="./img/blog/intro.jpg" alt="image intro image">
        <img src="./img/blog/intro.jpg" alt="image intro image">
      </picture>
    </div>
  </div>
</section>

<section class="multi-section section-padding section-padding--low-bottom-padding">
  <article class="multi-section__article">
    <div class="blog">
      <div class="site-container">
        <div class="blog__header">
          <span class="blog__text-wrapper">
            Показано&nbsp;
            <i class="blog__current-value">
              12
            </i>
            статей&nbsp;из&nbsp;
            <i class="blog__total-value">
              54
            </i>
          </span>
        </div>

        <ul class="blog__list">
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-1.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  Ангар временного хранения из металлоконструкций
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-2.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  С удовольствием показываем небольшую часть производства
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-3.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  Строительство холодных ангаров из металлоконструкций
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-1.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  Ангар временного хранения из металлоконструкций
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-2.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  С удовольствием показываем небольшую часть производства
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-3.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  Строительство холодных ангаров из металлоконструкций
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-1.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  Ангар временного хранения из металлоконструкций
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-2.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  С удовольствием показываем небольшую часть производства
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-3.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  Строительство холодных ангаров из металлоконструкций
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-1.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  Ангар временного хранения из металлоконструкций
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-2.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  С удовольствием показываем небольшую часть производства
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
          <li class="blog__item">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./img/blog/pic-3.png" alt="blog image">
              </div>
              <div class="blog-item__desc">
                <span class="blog-item__title">
                  Строительство холодных ангаров из металлоконструкций
                </span>
                <p class="blog-item__text">
                  Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу...
                </p>
              </div>
              <a href="#" class="blog-item__link">
                <span>Читать полностью</span>
              </a>
            </div>
          </li>
        </ul>

        <div class="blog__button-wrapper">
          <button type="button" class="main-button main-button--orange">
            <span>Показать еще</span>
            <svg aria-hidden="true" class="icon">
              <use xlink:href="#plus"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    {{> form }}
  </article>
</section>
{{/content}}
{{/extend}}