{{#extend "layout"}}
{{#content "main"}}

<section class="image-intro {{#if imageIntroClass}} image-intro--big {{/if}}">

  <div class="site-container">
    {{>breadcrumbs}}

    <div class="image-intro__intro-row hero__intro-row">
      <div class="hero__left image-intro__left">
        <div class="image-intro__title text-h2">
          Каталог ангаров
        </div>
        <span class="image-intro__subtitle">
          Мы предоставляем полный комплекс услуг в сфере строительства ангаров любой сложности  
        </span>
      </div>
      <div class="hero__right"></div>
    </div>
  </div>

  <div class="image-intro__picture-wrapper">
    <div class="image-intro__picture">
      <picture>
        <source type="image/webp" srcset="./img/about/intro-catalog-main.jpg" alt="image intro image">
        <img src="./img/about/intro-catalog-main.jpg" alt="hero image">
      </picture>
    </div>
  </div>
</section>

<section class="multi-section section-padding">
  <article class="multi-section__article">
    <div class="catalogs">
      <div class="site-container">
        <ul class="catalogs__list">
          <li class="catalogs__item">
            <span class="catalogs__name text-h3">
              Ангары по назначению
            </span>
            <ul class="catalog">
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-agricultural"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Сельскохозяйственные ангары и постройки 
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-warehouse"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Складские ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-factory"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Промышленные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-technic"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Ангары для техники
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-sport"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Спортивные ангары и сооружения
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="catalogs__item">
            <span class="catalogs__name text-h3">
              Ангары по типу
            </span>
            <ul class="catalog">
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-arched"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Арочные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-straight"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Прямостенные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-gable"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Двухскатные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-frameless"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Бескаркасные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-prefabricated"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Быстровозводимые ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-metalframe"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Ангары из металлокаркаса
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-collapsible"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Сборно-разборные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-sandwich"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Ангары из сендвич панелей
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="catalogs__item">
            <span class="catalogs__name text-h3">
              Ангары по форме
            </span>
            <ul class="catalog">
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-cold"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Холодные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-warm"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Теплые ангары
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="feedback-form">
      <div class="site-container">
        <div class="feedback-form__body">
          <form action="#" class="calculation__body">
            <div class="calculation__image calculation__image--form">
              <img src="./img/form/pic-1.png" alt="картинка формы">
            </div>

            <div class="calculation__forms">
              <div class="calculation__title calculation__title--no-border">
                <h6 class="text-h3">
                  Необходима профессиональная<br> консультация инженера?
                </h6>

                <span>
                  Просто оставьте заявку или опишите свой вопрос, а также
                  вы можете прикрепить какие-либо файлы для более
                  предметного разговора
                </span>
              </div>

              <div class="calculation__slider">
                <div class="feedback-form__form form-slide">
                  <div class="form-slide__inputs-block form-slide__inputs-block--feedback">
                    <div class="form-slide__inputs form-slide__inputs--feedback">
                      <div class="form-slide__col">
                        <div class="form-slide__input-wrapper">
                          <div class="input-box">
                            <input type="text" name="feedback-user-name" id="feedback-user-name"
                              class="input-box__input" placeholder="Ваше имя" required>
                          </div>
                        </div>
                      </div>
                      <div class="form-slide__col">
                        <div class="form-slide__input-wrapper">
                          <div class="input-box">
                            <input type="text" name="feedback-user-phone" id="feedback-user-phone"
                              class="input-box__input" placeholder="+7 (___)-___-__-__" required>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-slide__inputs">
                      <div class="form-slide__col">
                        <div class="form-slide__input-wrapper">
                          <div class="input-box">
                            <textarea name="feedback-user-comment" id="feedback-user-comment"
                              class="input-box__input input-box__input--textarea" placeholder="Описание"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-slide__buttons">
                    <label for="upload-user-file"
                      class="main-button main-button--upload main-button--second js-file-upload">
                      <input class="visually-hidden" type="file" name="upload-user-file" id="upload-user-file">
                      <span>Прикрепить файл</span>
                      <svg aria-hidden="true" class="icon icon-upload">
                        <use xlink:href="#upload-file"></use>
                      </svg>
                    </label>

                    <button type="button" class="main-button main-button--orange">
                      <span>Оставить заявку</span>
                      <svg aria-hidden="true" class="icon">
                        <use xlink:href="#plus"></use>
                      </svg>
                    </button>
                  </div>

                  <div class="form-slide__agreement">
                    <span>Нажимая кнопку «Оставить заявку», вы соглашаетесь с&nbsp;</span>
                    <a href="#">
                      политикой конфиденциальности
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
</section>
{{/content}}
{{/extend}}