{{#extend "layout"}}
{{#content "main"}}

<section class="image-intro {{#if imageIntroClass}} image-intro--big {{/if}}">

  <div class="site-container">
    {{>breadcrumbs}}

    <div class="image-intro__intro-row hero__intro-row">
      <div class="hero__left image-intro__left image-intro__left--full-width">
        <div class="image-intro__title text-h2">
          Строительство сельскохозяйственных<br> ангаров «Под ключ»
        </div>
      </div>
      <div class="hero__right"></div>
    </div>
  </div>

  <div class="image-intro__picture-wrapper">
    <div class="image-intro__picture">
      <picture>
        <source type="image/webp" srcset="./img/catalog/intro.jpg" alt="image intro image">
        <img src="./img/catalog/intro.jpg" alt="hero image">
      </picture>
    </div>
  </div>
</section>

<section class="multi-section section-padding section-padding--smaller">
  <article class="multi-section__article">
    <div class="request-section">
      <div class="site-container">
        <div class="request-section__body">
          <div class="request-section__title">
            <h6>
              Оставьте заявку и получите<br> консультацию инженера
            </h6>
          </div>

          <form action="#" class="request-section__form">
            <div class="request-section__inputs">
              <div class="request-section__input-wrapper">
                <div class="input-box input-box--ligth">
                  <input type="text" name="request-user-name" id="request-user-name" class="input-box__input"
                    placeholder="Ваше имя" required>
                </div>
              </div>

              <div class="request-section__input-wrapper">
                <div class="input-box input-box--ligth">
                  <input type="text" name="request-user-phone" id="request-user-phone" class="input-box__input"
                    placeholder="+7 (___)-___-__-__" required>
                </div>
              </div>

              <button type="submit" class="main-button main-button--orange request-section__submit">
                <span>Оставить заявку</span>
                <svg aria-hidden="true" class="icon">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
            </div>

            <div class="request-section__agreement">
              <div class="form-slide__agreement">
                <span>Нажимая кнопку «Оставить заявку», вы соглашаетесь с&nbsp;</span>
                <a href="#">
                  политикой конфиденциальности
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="double-section">
      <div class="site-container">
        <div class="double-section__body">
          <div class="double-section__text-block">
            <div class="seo-section__body">
              <div class="seo-section__header stages__header">
                <div class="stages__title text-h3">Особенности постройки</div>
              </div>

              <div class="seo-section__content">
                <div class="seo-section__text double-section__text">
                  <p>
                    Укрепление и развитие структуры представляет собой интересный эксперимент проверки форм
                    развития. Разнообразный и богатый опыт новая модель организационной деятельности требуют
                    от нас анализа систем массового участия. Идейные соображения высшего порядка, а также
                    постоянный количественный рост и сфера нашей активности в значительной степени обуславливает
                    создание модели развития. Укрепление и развитие структуры представляет собой интересный
                    эксперимент проверки форм развития.
                  </p>

                  <p>
                    Мы предоставляем максимальный спектр услуг по изготовлению, проектированию, доставке и
                    сборке сооружений в рамках “одного окна”, а также всегда рады поделитьсяс нашими Заказчиками
                    экспертными знаниями в области строительства ангаров и других сооружений. Укрепление и
                    развитие структуры представляет собой интересный.
                  </p>

                  <p>
                    Разнообразный и богатый опыт новая модель организационной деятельности требуют от нас анализа
                    систем массового участия. Идейные соображения высшего порядка, а также постоянный количественный
                    рост и сфера нашей активности в значительной степени.
                  </p>

                  <p>
                    Укрепление и развитие структуры представляет собой интересный эксперимент
                    проверки форм развития. Разнообразный и богатый опыт новая модель организационной
                    деятельности требуют от нас анализа систем массового участия. Идейные
                    соображения высшего порядка, а также постоянный количественный рост и сфера
                    нашей активности в значительной степени обуславливает создание модели развития.
                    Укрепление и развитие структуры представляет собой интересный эксперимент
                    проверки форм развития. Укрепление и развитие структуры представляет собой...
                  </p>
                </div>

                <button type="button" class="seo-section__expand expand-button" data-text="Читать полностью"></button>
              </div>
            </div>
          </div>
          <div class="double-section__image-block">
            <div class="double-section__image">
              <picture>
                <source type="image/webp" srcset="./img/double-section/image.png" alt="image intro image">
                <img src="./img/double-section/image.png" alt="hero image">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="catalogs">
      <div class="site-container">
        <ul class="catalogs__list">
          <li class="catalogs__item">
            <span class="catalogs__name text-h3">
              Какие виды сельскохозяйственных ангары мы строим
            </span>
            <ul class="catalog">
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-type-granary"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Зернохранилище (зерносклад)
                  </span>
                  <span class="catalog-link__price">
                    от 200 000 ₽
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-type-haystorage"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Сенохранилища
                  </span>
                  <span class="catalog-link__price">
                    от 180 000 ₽
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-type-potatostorage"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Картофелехранилища
                  </span>
                  <span class="catalog-link__price">
                    от 140 000 ₽
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-type-fruitstorage"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Фруктохранилища
                  </span>
                  <span class="catalog-link__price">
                    от 130 000 ₽
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-type-poultry"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Птицефермы
                  </span>
                  <span class="catalog-link__price">
                    от 180 000 ₽
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-type-pigpens"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Свинарники
                  </span>
                  <span class="catalog-link__price">
                    от 140 000 ₽
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-type-cowsheds"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Фермы КРС (Коровники)
                  </span>
                  <span class="catalog-link__price">
                    от 130 000 ₽
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="calculation">
      <div class="site-container">
        <form action="#" class="calculation__body">
          <div class="calculation__image">
            <img src="./img/calculation/hangar.png" alt="картинка ангара">
          </div>

          <div class="calculation__forms">
            <div class="calculation__title text-h3">
              Узнайте точную стоимость<br> вашего ангара
            </div>

            <div class="calculation__slider">
              <div class="calculation__swiper swiper js-calc-swiper">
                <ul class="calculation__swiper-wrapper swiper-wrapper">
                  <li class="calculation__swiper-slide swiper-slide form-slide">
                    <div class="form-slide__header">
                      <div class="form-slide__title">
                        <i>1.</i>
                        <span>Укажите характеристики строения</span>
                      </div>
                    </div>

                    <div class="form-slide__inputs-block">

                      <div class="form-slide__inputs form-slide__inputs--nowrap">
                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Длина
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="input-box">
                              <input type="number" name="length" id="input-length" class="input-box__input"
                                placeholder="5 метров" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Ширина
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="input-box">
                              <input type="number" name="width" id="input-width" class="input-box__input"
                                placeholder="5 метров" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Высота
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="input-box">
                              <input type="number" name="height" id="input-height" class="input-box__input"
                                placeholder="5 метров" required>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-slide__inputs form-slide__inputs--selects">
                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Тип
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="select">
                              <div class="select__current" tabindex="1">
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="type-id-1" value="type-value-1"
                                    name="name-1" checked />
                                  <p class="select__input-text">
                                    Не выбрано
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="type-id-2" value="type-value-2"
                                    name="name-1" />
                                  <p class="select__input-text">
                                    Тип 1
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="type-id-3" value="type-value-3"
                                    name="name-1" />
                                  <p class="select__input-text">
                                    Тип 2
                                  </p>
                                </div>
                                <span class="select__icon">
                                  <svg aria-hidden="true" class="icon icon-search">
                                    <use xlink:href="#select-arrow"></use>
                                  </svg>
                                </span>
                              </div>
                              <div class="select__list-wrapper">
                                <ul class="select__list">
                                  <li>
                                    <label class="select__option" for="type-id-1" aria-hidden="aria-hidden">
                                      Не выбрано
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="type-id-2" aria-hidden="aria-hidden">
                                      Тип 1
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="type-id-3" aria-hidden="aria-hidden">
                                      Тип 2
                                    </label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Назначение
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="select">
                              <div class="select__current" tabindex="1">
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="purpose-id-1" value="purpose-value-1"
                                    name="purpose-1" checked />
                                  <p class="select__input-text">
                                    Не выбрано
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="purpose-id-2" value="purpose-value-2"
                                    name="purpose-1" />
                                  <p class="select__input-text">
                                    Назначение 1
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="purpose-id-3" value="purpose-value-3"
                                    name="purpose-1" />
                                  <p class="select__input-text">
                                    Назначение 2
                                  </p>
                                </div>
                                <span class="select__icon">
                                  <svg aria-hidden="true" class="icon icon-search">
                                    <use xlink:href="#select-arrow"></use>
                                  </svg>
                                </span>
                              </div>
                              <div class="select__list-wrapper">
                                <ul class="select__list">
                                  <li>
                                    <label class="select__option" for="purpose-id-1" aria-hidden="aria-hidden">
                                      Не выбрано
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="tpurpose-id-2" aria-hidden="aria-hidden">
                                      Назначение 1
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="purpose-id-3" aria-hidden="aria-hidden">
                                      Назначение 2
                                    </label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Холодный/Теплый
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="select">
                              <div class="select__current" tabindex="1">
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="temp-id-1" value="temp-value-1"
                                    name="temp-1" checked />
                                  <p class="select__input-text">
                                    Не выбрано
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="temp-id-2" value="temp-value-2"
                                    name="temp-1" />
                                  <p class="select__input-text">
                                    Холодный
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="temp-id-3" value="temp-value-3"
                                    name="temp-1" />
                                  <p class="select__input-text">
                                    Теплый
                                  </p>
                                </div>
                                <span class="select__icon">
                                  <svg aria-hidden="true" class="icon icon-search">
                                    <use xlink:href="#select-arrow"></use>
                                  </svg>
                                </span>
                              </div>
                              <div class="select__list-wrapper">
                                <ul class="select__list">
                                  <li>
                                    <label class="select__option" for="temp-id-1" aria-hidden="aria-hidden">
                                      Не выбрано
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="temp-id-2" aria-hidden="aria-hidden">
                                      Холодный
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="temp-id-3" aria-hidden="aria-hidden">
                                      Теплый
                                    </label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="form-slide__buttons">
                      <button type="button" class="main-button main-button--orange js-set-next-form">
                        <span>Следующий шаг</span>
                        <svg aria-hidden="true" class="icon">
                          <use xlink:href="#btn-arrow"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="calculation__swiper-slide swiper-slide form-slide">
                    <div class="form-slide__header form-slide__header--second-step">
                      <div class="form-slide__title">
                        <i>2.</i>
                        <span>Оставьте свой номер</span>
                      </div>
                      <span class="form-slide__text">
                        Наш инженер свяжется с вами в ближайшее время для обсуждения сметы
                      </span>
                    </div>

                    <div class="form-slide__inputs-block">

                      <div class="form-slide__inputs">
                        <div class="form-slide__col">
                          <div class="form-slide__input-wrapper">
                            <div class="input-box">
                              <input type="text" name="user-name" id="input-user-name" class="input-box__input"
                                placeholder="Ваше имя" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-slide__col">
                          <div class="form-slide__input-wrapper">
                            <div class="input-box">
                              <input type="text" name="user-phone" id="input-user-phone" class="input-box__input"
                                placeholder="+7 (___)-___-__-__" required>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-slide__inputs">
                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Удобное время для звонка:
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="form-slide__input-radios">
                              <div class="radio-box">
                                <label>
                                  <input type="radio" name="call-time" id="radio-input-1" hidden class="visually-hidden"
                                    checked>
                                  <i></i>
                                  <span>10:00 - 13:00</span>
                                </label>
                              </div>
                              <div class="radio-box">
                                <label>
                                  <input type="radio" name="call-time" id="radio-input-2" hidden
                                    class="visually-hidden">
                                  <i></i>
                                  <span>13:00 - 16:00</span>
                                </label>
                              </div>
                              <div class="radio-box">
                                <label>
                                  <input type="radio" name="call-time" id="radio-input-3" hidden
                                    class="visually-hidden">
                                  <i></i>
                                  <span>16:00 - 19:00</span>
                                </label>
                              </div>
                              <div class="radio-box">
                                <label>
                                  <input type="radio" name="call-time" id="radio-input-4" hidden
                                    class="visually-hidden">
                                  <i></i>
                                  <span>10:00 - 13:00</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="form-slide__buttons">
                      <button type="button"
                        class="main-button main-button--second main-button--reverse js-set-prev-form">
                        <span>Предыдущий шаг</span>
                        <svg aria-hidden="true" class="icon icon-stroke">
                          <use xlink:href="#btn-reverse"></use>
                        </svg>
                      </button>
                      <button type="submit" class="main-button main-button--orange">
                        <span>Оставить заявку</span>
                        <svg aria-hidden="true" class="icon">
                          <use xlink:href="#plus"></use>
                        </svg>
                      </button>
                    </div>

                    <div class="form-slide__agreement">
                      <span>Нажимая кнопку «Оставить заявку», вы соглашаетесь с&nbsp;</span>
                      <a href="#">
                        политикой конфиденциальности
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="projects-slider carousel">
      <div class="site-container">
        <div class="projects-slider__body">
          <div class="projects-slider__header stages__header">
            <div class="stages__title text-h3">Реализованные проекты ангаров </div>
            <span class="stages__subtitle stages__subtitle--max-width">На сайте представлены не все наши реализованные
              объекты, так как их очень много</span>
          </div>

          <div class="projects-slider__swiper-cover carousel__swiper-cover js-projects-swiper">
            <div class="projects-slider__swiper swiper">
              <ul class="projects-slider__swiper-wrapper swiper-wrapper">
                <li class="projects-slider__swiper-slide swiper-slide project-cart">
                  <div class="project-cart__body">
                    <div class="project-cart__image">
                      <picture>
                        <source type="image/webp" srcset="./img/projects/project-1.jpg" alt="advantages image">
                        <img src="./img/projects/project-1.jpg" alt="advantages image">
                      </picture>
                    </div>

                    <div class="project-cart__info">
                      <div class="project-cart__title">
                        <span class="project-cart__name">
                          Холодный склад
                        </span>
                        <span class="project-cart__area">
                          576 м²
                        </span>
                      </div>

                      <ul class="project-cart__list">
                        <li>
                          <span class="project-cart__key">Ш х Д:</span>
                          <span class="project-cart__value">48 х 12 м</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Высота ангара:</span>
                          <span class="project-cart__value">4,4 м</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Форма ангара:</span>
                          <span class="project-cart__value">Арочная</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Материал ангара:</span>
                          <span class="project-cart__value">Профлист оцинкованный МП-2</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Монтаж к земле:</span>
                          <span class="project-cart__value">Фундамент ленточный высотой 700 мм</span>
                        </li>
                      </ul>
                    </div>

                    <a href="#" class="main-button main-button--second">
                      <span>Узнать стоимость похожего ангара</span>
                      <svg aria-hidden="true" class="icon">
                        <use xlink:href="#plus"></use>
                      </svg>
                    </a>
                  </div>
                </li>
                <li class="projects-slider__swiper-slide swiper-slide project-cart">
                  <div class="project-cart__body">
                    <div class="project-cart__image">
                      <picture>
                        <source type="image/webp" srcset="./img/projects/project-2.jpg" alt="advantages image">
                        <img src="./img/projects/project-2.jpg" alt="advantages image">
                      </picture>
                    </div>

                    <div class="project-cart__info">
                      <div class="project-cart__title">
                        <span class="project-cart__name">
                          Теплый склад
                        </span>
                        <span class="project-cart__area">
                          2032 м²
                        </span>
                      </div>

                      <ul class="project-cart__list">
                        <li>
                          <span class="project-cart__key">Ш х Д:</span>
                          <span class="project-cart__value">48 х 12 м</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Высота ангара:</span>
                          <span class="project-cart__value">4,4 м</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Форма ангара:</span>
                          <span class="project-cart__value">Арочная</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Материал ангара:</span>
                          <span class="project-cart__value">Профлист оцинкованный МП-2</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Монтаж к земле:</span>
                          <span class="project-cart__value">Фундамент ленточный высотой 700 мм</span>
                        </li>
                      </ul>
                    </div>

                    <a href="#" class="main-button main-button--second">
                      <span>Узнать стоимость похожего ангара</span>
                      <svg aria-hidden="true" class="icon">
                        <use xlink:href="#plus"></use>
                      </svg>
                    </a>
                  </div>
                </li>
                <li class="projects-slider__swiper-slide swiper-slide project-cart">
                  <div class="project-cart__body">
                    <div class="project-cart__image">
                      <picture>
                        <source type="image/webp" srcset="./img/projects/project-3.jpg" alt="advantages image">
                        <img src="./img/projects/project-3.jpg" alt="advantages image">
                      </picture>
                    </div>

                    <div class="project-cart__info">
                      <div class="project-cart__title">
                        <span class="project-cart__name">
                          Холодный склад
                        </span>
                        <span class="project-cart__area">
                          234 м²
                        </span>
                      </div>

                      <ul class="project-cart__list">
                        <li>
                          <span class="project-cart__key">Ш х Д:</span>
                          <span class="project-cart__value">48 х 12 м</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Высота ангара:</span>
                          <span class="project-cart__value">4,4 м</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Форма ангара:</span>
                          <span class="project-cart__value">Арочная</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Материал ангара:</span>
                          <span class="project-cart__value">Профлист оцинкованный МП-2</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Монтаж к земле:</span>
                          <span class="project-cart__value">Фундамент ленточный высотой 700 мм</span>
                        </li>
                      </ul>
                    </div>

                    <a href="#" class="main-button main-button--second">
                      <span>Узнать стоимость похожего ангара</span>
                      <svg aria-hidden="true" class="icon">
                        <use xlink:href="#plus"></use>
                      </svg>
                    </a>
                  </div>
                </li>
                <li class="projects-slider__swiper-slide swiper-slide project-cart">
                  <div class="project-cart__body">
                    <div class="project-cart__image">
                      <picture>
                        <source type="image/webp" srcset="./img/projects/project-2.jpg" alt="advantages image">
                        <img src="./img/projects/project-2.jpg" alt="advantages image">
                      </picture>
                    </div>

                    <div class="project-cart__info">
                      <div class="project-cart__title">
                        <span class="project-cart__name">
                          Теплый склад
                        </span>
                        <span class="project-cart__area">
                          2032 м²
                        </span>
                      </div>

                      <ul class="project-cart__list">
                        <li>
                          <span class="project-cart__key">Ш х Д:</span>
                          <span class="project-cart__value">48 х 12 м</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Высота ангара:</span>
                          <span class="project-cart__value">4,4 м</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Форма ангара:</span>
                          <span class="project-cart__value">Арочная</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Материал ангара:</span>
                          <span class="project-cart__value">Профлист оцинкованный МП-2</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Монтаж к земле:</span>
                          <span class="project-cart__value">Фундамент ленточный высотой 700 мм</span>
                        </li>
                      </ul>
                    </div>

                    <a href="#" class="main-button main-button--second">
                      <span>Узнать стоимость похожего ангара</span>
                      <svg aria-hidden="true" class="icon">
                        <use xlink:href="#plus"></use>
                      </svg>
                    </a>
                  </div>
                </li>
                <li class="projects-slider__swiper-slide swiper-slide project-cart">
                  <div class="project-cart__body">
                    <div class="project-cart__image">
                      <picture>
                        <source type="image/webp" srcset="./img/projects/project-3.jpg" alt="advantages image">
                        <img src="./img/projects/project-3.jpg" alt="advantages image">
                      </picture>
                    </div>

                    <div class="project-cart__info">
                      <div class="project-cart__title">
                        <span class="project-cart__name">
                          Холодный склад
                        </span>
                        <span class="project-cart__area">
                          234 м²
                        </span>
                      </div>

                      <ul class="project-cart__list">
                        <li>
                          <span class="project-cart__key">Ш х Д:</span>
                          <span class="project-cart__value">48 х 12 м</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Высота ангара:</span>
                          <span class="project-cart__value">4,4 м</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Форма ангара:</span>
                          <span class="project-cart__value">Арочная</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Материал ангара:</span>
                          <span class="project-cart__value">Профлист оцинкованный МП-2</span>
                        </li>
                        <li>
                          <span class="project-cart__key">Монтаж к земле:</span>
                          <span class="project-cart__value">Фундамент ленточный высотой 700 мм</span>
                        </li>
                      </ul>
                    </div>

                    <a href="#" class="main-button main-button--second">
                      <span>Узнать стоимость похожего ангара</span>
                      <svg aria-hidden="true" class="icon">
                        <use xlink:href="#plus"></use>
                      </svg>
                    </a>
                  </div>
                </li>
              </ul>
            </div>

            <div class="projects-slider__controls">
              <button class="slider-btn projects-slider__slider-btn projects-slider__slider-btn--prev">
                <svg aria-hidden="true" class="icon">
                  <use xlink:href="#slider-arrow"></use>
                </svg>
              </button>
              <button
                class="slider-btn slider-btn--reverse projects-slider__slider-btn projects-slider__slider-btn--next">
                <svg aria-hidden="true" class="icon">
                  <use xlink:href="#slider-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="peculiarities">
      <div class="site-container">
        <div class="peculiarities__header stages__header">
          <div class="stages__title text-h3">Особенности строительства зернохранилища</div>
        </div>

        <div class="peculiarities__body">
          <div class="peculiarities__block">
            <h6>Особенности постройки:</h6>

            <p>
              Вся земля в России поделена на категории. У каждой есть свое целевое назначение и
              специальный режим использования. Например, к землям особо охраняемых территорий
              относятся заповедники. В них нельзя строить жилые дома, дороги и торговые центры,
              потому что их цель — сохранить природу. Зато все это разрешено на землях
              населенных пунктов — они нужны как раз для развития городов и сел, в которых
              живут люди. В зависимости от целевого назначения есть семь категорий земель
              (ст. 7 Земельного кодекса РФ):
            </p>

            <ul>
              <li>
                <span>
                  лесного фонда;
                </span>
              </li>
              <li>
                <span>
                  населенных пунктов;
                </span>
              </li>
              <li>
                <span>
                  промышленности;
                </span>
              </li>
              <li>
                <span>
                  особо охраняемых территорий и объектов;
                </span>
              </li>
              <li>
                <span>
                  лесного фонда;
                </span>
              </li>
              <li>
                <span>
                  запаса.
                </span>
              </li>
            </ul>

            <p>
              Укрепление и развитие структуры представляет собой интересный эксперимент проверки
              форм развития. Разнообразный и богатый опыт новая модель организационной деятельности
              требуют от нас анализа систем массового участия. Идейные соображения высшего порядка,
              а также постоянный количественный рост и сфера нашей активности в значительной степени
              обуславливает создание модели развития. Укрепление и развитие структуры представляет
              собой интересный эксперимент проверки форм развития. Разнообразный и богатый опыт новая
              модель организационной деятельности требуют от нас анализа систем массового участия.
              Идейные соображения высшего порядка, а также постоянный количественный рост и сфера
              нашей активности в значительной степени.
            </p>
          </div>

          <div class="peculiarities__block">
            <h6>Преимущества постройки:</h6>
            <p>
              Укрепление и развитие структуры представляет собой интересный эксперимент проверки форм
              развития. Разнообразный и богатый опыт новая модель организационной деятельности требуют
              от нас анализа систем массового участия. Идейные соображения высшего порядка, а также
              постоянный количественный рост и сфера нашей активности в значительной степени
              обуславливает создание модели развития. Укрепление и развитие структуры представляет
              собой интересный эксперимент проверки форм развития. Разнообразный и богатый опыт новая
              модель организационной деятельности требуют от нас анализа систем массового участия.
              Идейные соображения высшего порядка, а также постоянный количественный рост и сфера
              нашей активности в значительной степени.
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="faq">
      <div class="site-container">
        <div class="faq__header stages__header stages__header--half">
          <div class="stages__title text-h3">Часто задаваемые вопросы</div>
          <span class="stages__subtitle">Строительство ангаров, достаточно сложный и трудоемкий процесс. Как правило, у
            заказчиков перед началом сотрудничества есть не мало вопросов, отвечаем на некоторые из них.</span>
        </div>

        <ul class="faq__list">
          <li class="faq__item">
            <input class="visually-hidden" type="checkbox" name="faq-1" id="faq-1">
            <label for="faq-1" class="faq__button">
              Сколько времени требуется на монтаж металлоконструкций?
            </label>
            <div class="faq__dropdown">
              <p>
                Строительство ангаров, достаточно сложный и трудоемкий процесс. Как правило, у заказчиков перед началом
                сотрудничества есть не мало вопросов, отвечаем на некоторые из них.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <input class="visually-hidden" type="checkbox" name="faq-2" id="faq-2">
            <label for="faq-2" class="faq__button">
              Какие требования имеются к площадке под строительство ангара?
            </label>
            <div class="faq__dropdown">
              <p>
                Строительство ангаров, достаточно сложный и трудоемкий процесс. Как правило, у заказчиков перед началом
                сотрудничества есть не мало вопросов, отвечаем на некоторые из них.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <input class="visually-hidden" type="checkbox" name="faq-3" id="faq-3">
            <label for="faq-3" class="faq__button">
              Какие требования имеются к площадке под строительство ангара?
            </label>
            <div class="faq__dropdown">
              <p>
                Строительство ангаров, достаточно сложный и трудоемкий процесс. Как правило, у заказчиков перед началом
                сотрудничества есть не мало вопросов, отвечаем на некоторые из них.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <input class="visually-hidden" type="checkbox" name="faq-4" id="faq-4">
            <label for="faq-4" class="faq__button">
              Сколько времени требуется на монтаж металлоконструкций?
            </label>
            <div class="faq__dropdown">
              <p>
                Строительство ангаров, достаточно сложный и трудоемкий процесс. Как правило, у заказчиков перед началом
                сотрудничества есть не мало вопросов, отвечаем на некоторые из них.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <input class="visually-hidden" type="checkbox" name="faq-5" id="faq-5">
            <label for="faq-5" class="faq__button">
              Сколько времени требуется на монтаж металлоконструкций?
            </label>
            <div class="faq__dropdown">
              <p>
                Строительство ангаров, достаточно сложный и трудоемкий процесс. Как правило, у заказчиков перед началом
                сотрудничества есть не мало вопросов, отвечаем на некоторые из них.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <input class="visually-hidden" type="checkbox" name="faq-6" id="faq-6">
            <label for="faq-6" class="faq__button">
              Какие требования имеются к площадке под строительство ангара?
            </label>
            <div class="faq__dropdown">
              <p>
                Строительство ангаров, достаточно сложный и трудоемкий процесс. Как правило, у заказчиков перед началом
                сотрудничества есть не мало вопросов, отвечаем на некоторые из них.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <input class="visually-hidden" type="checkbox" name="faq-7" id="faq-7">
            <label for="faq-7" class="faq__button">
              Какие требования имеются к площадке под строительство ангара?
            </label>
            <div class="faq__dropdown">
              <p>
                Строительство ангаров, достаточно сложный и трудоемкий процесс. Как правило, у заказчиков перед началом
                сотрудничества есть не мало вопросов, отвечаем на некоторые из них.
              </p>
            </div>
          </li>
          <li class="faq__item">
            <input class="visually-hidden" type="checkbox" name="faq-8" id="faq-8">
            <label for="faq-8" class="faq__button">
              Сколько времени требуется на монтаж металлоконструкций?
            </label>
            <div class="faq__dropdown">
              <p>
                Строительство ангаров, достаточно сложный и трудоемкий процесс. Как правило, у заказчиков перед началом
                сотрудничества есть не мало вопросов, отвечаем на некоторые из них.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="stages">
      <div class="site-container">
        <div class="stages__header">
          <div class="stages__title text-h3">Этапы строительства ангара</div>
          <span class="stages__subtitle">Несколько простых шагов с «Нуля» до сдачи готового объекта</span>
        </div>
        <div class="stages__list-wrapper">
          <ul class="stages__list">
            <li class="stages__item stage">
              <div class="stage__body">
                <div class="stage__content">
                  <span class="stage__title">Составление технического задания</span>
                  <span class="stage__text">
                    После предварительной беседы с клиентом и осмотра места,
                    выбранного под строительство. Сюда также входят геодезические
                    работы, если в них есть необходимость
                  </span>
                </div>

                <div class="stage__number text-h3">
                  01
                </div>
              </div>
            </li>
            <li class="stages__item stage">
              <div class="stage__body">
                <div class="stage__content">
                  <span class="stage__title">
                    Разработка технической документации и составление сметы
                  </span>
                  <span class="stage__text">
                    Каждый этап в обязательном порядке согласуется с заказчиком
                  </span>
                </div>

                <div class="stage__number text-h3">
                  02
                </div>
              </div>
            </li>
            <li class="stages__item stage">
              <div class="stage__body">
                <div class="stage__content">
                  <span class="stage__title">
                    Фундаментные работы
                  </span>
                  <span class="stage__text">
                    Выполнение комплекса работ по возведению фундамента
                    в зависимости от типа почвы
                  </span>
                </div>

                <div class="stage__number text-h3">
                  03
                </div>
              </div>
            </li>
            <li class="stages__item stage">
              <div class="stage__body">
                <div class="stage__content">
                  <span class="stage__title">
                    Сборка металлоконструкций
                  </span>
                  <span class="stage__text">
                    Последующая обшивка в зависимости от типа ангара.
                    На данном этапе также выполняется общая гидроизоляция
                  </span>
                </div>

                <div class="stage__number text-h3">
                  04
                </div>
              </div>
            </li>
            <li class="stages__item stage">
              <div class="stage__body">
                <div class="stage__content">
                  <span class="stage__title">
                    Электромонтаж 
                  </span>
                  <span class="stage__text">
                    Монтаж кабелей, освещения и слаботочных систем
                    (пожарная и  охранная сигнализации, видеонаблюдение)
                  </span>
                </div>

                <div class="stage__number text-h3">
                  05
                </div>
              </div>
            </li>
            <li class="stages__item stage">
              <div class="stage__body">
                <div class="stage__content">
                  <span class="stage__title">
                    Финальные отделочные работы
                  </span>
                  <span class="stage__text">
                    Выполнение комплекса работ по возведению фундамента в
                    зависимости от типа почвы
                  </span>
                </div>

                <div class="stage__number text-h3">
                  06
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="advantages">
      <div class="site-container">
        <div class="advantages__body">
          <div class="advantages__top">
            <div class="advantages__intro-row hero__intro-row">
              <div class="hero__left">
                <div class="introduction__title advantages__title text-h3">
                  Комплекс услуг - наше преимущество при строительстве ангаров
                </div>
                <div class="advantages__text introduction__text">
                  Реализуем  полный комплекс услуг в области строительства ангаров в рамках «Одного окна»
                </div>
              </div>
              <div class="hero__right">
                <ul class="advantages__list">
                  <li class="advantages__item">
                    <span>Построим ангар<br> необходимого типа</span>
                  </li>
                  <li class="advantages__item">
                    <span>Подготовим проектную<br> документацию</span>
                  </li>
                  <li class="advantages__item">
                    <span>Изготовим<br> промышленные полы</span>
                  </li>
                  <li class="advantages__item">
                    <span>Выполним теплоизоляцию<br> ангара</span>
                  </li>
                  <li class="advantages__item">
                    <span>Электромонтажные<br> работы</span>
                  </li>
                  <li class="advantages__item">
                    <span>Выполним <i class="hide-on-mobile">необходимые</i><br> геодезические работы</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="advantages__bottom">
            <div class="advantages__image">
              <picture>
                <source type="image/webp" srcset="./img/advantages/img.png" alt="advantages image">
                <img src="./img/advantages/img.png" alt="advantages image">
              </picture>
              <span class="advantages__logo">
                <svg aria-hidden="true" class="icon">
                  <use xlink:href="#bigger-logo"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="introduction">
      <div class="site-container">
        <div class="introduction__content-wrapper">
          <div class="introduction__intro-row hero__intro-row">
            <div class="hero__left">
              <div class="introduction__title text-h3">
                Производим и строим ангары «Под ключ» с 2015 года
              </div>
            </div>
            <div class="hero__right">
              <div class="introduction__subtitle">
                Наша компания уже более восьми лет реализует проекты по
                возведению ангаров разных видов и любой сложности в
                Казани и по всей России. За это время мы построили
                ангаров и складских сооружений общей площадью более
                шестидесяти тысяч квадратных метров. 
              </div>
              <div class="introduction__text">
                Мы предоставляем максимальный спектр услуг  по изготовлению,
                проектированию, доставке и сборке сооружений в рамках “одного
                окна”, а также всегда рады поделиться с нашими Заказчиками
                экспертными знаниями в области строительства ангаров и других
                сооружений. 
              </div>
            </div>
          </div>
          <div class="introduction__intro-row introduction__intro-row--border hero__intro-row">
            <div class="hero__left">
              <div class="introduction__text">
                О компании в цифрах
              </div>
            </div>
            <div class="hero__right">
              <ul class="introduction__list">
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">21</span>
                    <span class="stat__dim">день</span>
                  </div>
                  <span class="stat__text">
                    Средний срок строительства
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">60 000</span>
                    <span class="stat__dim">кв.м.</span>
                  </div>
                  <span class="stat__text">
                    Общая площадь выполненной застройки
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">8</span>
                    <span class="stat__dim">лет</span>
                  </div>
                  <span class="stat__text">
                    Опыта работы в сфере
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">32</span>
                    <span class="stat__dim">cотрудника</span>
                  </div>
                  <span class="stat__text">
                    Различных профессий в нашем штате
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="reviews section-padding">
  <div class="site-container">
    <div class="reviews__body">

      <div class="reviews__header stages__header">
        <div class="stages__title text-h3">Отзывы о нашей работе</div>
        <span class="stages__subtitle stages__subtitle--max-width">Нам доверяют строительство ангаров по всей России,
          доверьтесь и вы</span>
      </div>

      <div class="reviews__swiper-cover carousel__swiper-cover js-reviews-swiper">
        <div class="reviews__swiper swiper">
          <ul class="reviews__swiper-wrapper swiper-wrapper">
            <li class="reviews__swiper-slide swiper-slide review-cart">
              <div class="review-cart__body">
                <div class="review-cart__author">
                  <div class="review-cart__author-pic">
                    <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
                  </div>
                  <div class="review-cart__author-info">
                    <span class="review-cart__author-name">
                      Петров Александр
                    </span>
                    <span class="review-cart__date">
                      21.04.2023
                    </span>
                  </div>
                </div>
                <div class="review-cart__review review-cart__review--full">
                  <div class="review-cart__text-wrapper">
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                  </div>

                  <button type="button" class="review-cart__expand-button expand-button"
                    data-text="Читать полностью"></button>
                </div>
              </div>
            </li>
            <li class="reviews__swiper-slide swiper-slide review-cart">
              <div class="review-cart__body">
                <div class="review-cart__author">
                  <div class="review-cart__author-pic">
                    <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
                  </div>
                  <div class="review-cart__author-info">
                    <span class="review-cart__author-name">
                      Петров Александр
                    </span>
                    <span class="review-cart__date">
                      21.04.2023
                    </span>
                  </div>
                </div>
                <div class="review-cart__review review-cart__review--full">
                  <div class="review-cart__text-wrapper">
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                  </div>

                  <button type="button" class="review-cart__expand-button expand-button"
                    data-text="Читать полностью"></button>
                </div>
              </div>
            </li>
            <li class="reviews__swiper-slide swiper-slide review-cart">
              <div class="review-cart__body">
                <div class="review-cart__author">
                  <div class="review-cart__author-pic">
                    <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
                  </div>
                  <div class="review-cart__author-info">
                    <span class="review-cart__author-name">
                      Петров Александр
                    </span>
                    <span class="review-cart__date">
                      21.04.2023
                    </span>
                  </div>
                </div>
                <div class="review-cart__review review-cart__review--full">
                  <div class="review-cart__text-wrapper">
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                    <p>
                      Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                      доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                      поделиться с нашими Заказчиками экспертными знаниями в области строительства
                      ангаров и других сооружений. 
                    </p>
                  </div>

                  <button type="button" class="review-cart__expand-button expand-button"
                    data-text="Читать полностью"></button>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="reviews__controls">
          <button class="slider-btn slider-btn--light reviews__slider-btn reviews__slider-btn--prev">
            <svg aria-hidden="true" class="icon">
              <use xlink:href="#slider-arrow"></use>
            </svg>
          </button>
          <button
            class="slider-btn slider-btn--light slider-btn--reverse reviews__slider-btn reviews__slider-btn--next">
            <svg aria-hidden="true" class="icon">
              <use xlink:href="#slider-arrow"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="reviews__link-wrapper">
        <a href="#" class="main-button main-button--orange">
          <span>Cмотреть все</span>
          <svg aria-hidden="true" class="icon">
            <use xlink:href="#plus"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="multi-section section-padding section-padding--low-bottom-padding">
  <article class="multi-section__article">
    <div class="production">
      <div class="site-container">
        <div class="production__content-wrapper">
          <div class="production__intro-row hero__intro-row">
            <div class="hero__left">
              <div class="production__title text-h3">
                Наше производство
              </div>
            </div>
            <div class="hero__right">
              <div class="production__info">
                <h6>
                  С удовольствием показываем небольшую часть производства
                </h6>

                <p>
                  Укрепление и развитие структуры представляет собой интересный
                  эксперимент проверки форм развития. Разнообразный и богатый
                  опыт новая модель организационной деятельности требуют от нас
                  анализа систем массового участия. Идейные соображения высшего
                  порядка, а также постоянный количественный рост и сфера нашей
                  активности в значительной степени обуславливает создание модели
                  развития. Укрепление и развитие структуры представляет собой
                  интересный эксперимент проверки форм развития.
                </p>

                <div class="production__list">
                  <span>
                    Даем гарантию на ангары:
                  </span>

                  <ul>
                    <li>
                      <i>
                        от коррозии — 5 лет
                      </i>
                    </li>
                    <li>
                      <i>
                        на внешнюю обшивку — 15 лет
                      </i>
                    </li>
                    <li>
                      <i>
                        от воздействия окружающей среды — 5 лет
                      </i>
                    </li>
                    <li>
                      <i>
                        она целостность конструкции — 5 лет
                      </i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="production__images-wrapper">
            <ul class="production__images">
              <li class="production__image">
                <picture>
                  <source type="image/webp" srcset="./img/productions/pic-1.png" alt="productions image">
                  <img src="./img/productions/pic-1.png" alt="productions image">
                </picture>
              </li>
              <li class="production__image">
                <picture>
                  <source type="image/webp" srcset="./img/productions/pic-2.png" alt="productions image">
                  <img src="./img/productions/pic-2.png" alt="productions image">
                </picture>
              </li>
              <li class="production__image">
                <picture>
                  <source type="image/webp" srcset="./img/productions/pic-3.png" alt="productions image">
                  <img src="./img/productions/pic-3.png" alt="productions image">
                </picture>
              </li>
              <li class="production__image">
                <picture>
                  <source type="image/webp" srcset="./img/productions/pic-4.png" alt="productions image">
                  <img src="./img/productions/pic-4.png" alt="productions image">
                </picture>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="feedback-form">
      <div class="site-container">
        <div class="feedback-form__body">
          <form action="#" class="calculation__body">
            <div class="calculation__image calculation__image--form">
              <img src="./img/form/pic-1.png" alt="картинка формы">
            </div>

            <div class="calculation__forms">
              <div class="calculation__title calculation__title--no-border">
                <h6 class="text-h3">
                  Необходима профессиональная<br> консультация инженера?
                </h6>

                <span>
                  Просто оставьте заявку или опишите свой вопрос, а также
                  вы можете прикрепить какие-либо файлы для более
                  предметного разговора
                </span>
              </div>

              <div class="calculation__slider">
                <div class="feedback-form__form form-slide">
                  <div class="form-slide__inputs-block form-slide__inputs-block--feedback">
                    <div class="form-slide__inputs form-slide__inputs--feedback">
                      <div class="form-slide__col">
                        <div class="form-slide__input-wrapper">
                          <div class="input-box">
                            <input type="text" name="feedback-user-name" id="feedback-user-name"
                              class="input-box__input" placeholder="Ваше имя" required>
                          </div>
                        </div>
                      </div>
                      <div class="form-slide__col">
                        <div class="form-slide__input-wrapper">
                          <div class="input-box">
                            <input type="text" name="feedback-user-phone" id="feedback-user-phone"
                              class="input-box__input" placeholder="+7 (___)-___-__-__" required>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-slide__inputs">
                      <div class="form-slide__col">
                        <div class="form-slide__input-wrapper">
                          <div class="input-box">
                            <textarea name="feedback-user-comment" id="feedback-user-comment"
                              class="input-box__input input-box__input--textarea" placeholder="Описание"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-slide__buttons">
                    <label for="upload-user-file"
                      class="main-button main-button--upload main-button--second js-file-upload">
                      <input class="visually-hidden" type="file" name="upload-user-file" id="upload-user-file">
                      <span>Прикрепить файл</span>
                      <svg aria-hidden="true" class="icon icon-upload">
                        <use xlink:href="#upload-file"></use>
                      </svg>
                    </label>

                    <button type="button" class="main-button main-button--orange">
                      <span>Оставить заявку</span>
                      <svg aria-hidden="true" class="icon">
                        <use xlink:href="#plus"></use>
                      </svg>
                    </button>
                  </div>

                  <div class="form-slide__agreement">
                    <span>Нажимая кнопку «Оставить заявку», вы соглашаетесь с&nbsp;</span>
                    <a href="#">
                      политикой конфиденциальности
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="seo-section">
      <div class="site-container">
        <div class="seo-section__body">
          <div class="seo-section__header stages__header">
            <div class="stages__title text-h3">Строительство и монтаж ангаров любой сложности</div>
          </div>

          <div class="seo-section__content">
            <div class="seo-section__text">
              <p>
                Укрепление и развитие структуры представляет собой интересный эксперимент
                проверки форм развития. Разнообразный и богатый опыт новая модель организационной
                деятельности требуют от нас анализа систем массового участия. Идейные
                соображения высшего порядка, а также постоянный количественный рост и сфера
                нашей активности в значительной степени обуславливает создание модели развития.
                Укрепление и развитие структуры представляет собой интересный эксперимент
                проверки форм развития. Укрепление и развитие структуры представляет собой...
              </p>

              <p>
                Укрепление и развитие структуры представляет собой интересный эксперимент
                проверки форм развития. Разнообразный и богатый опыт новая модель организационной
                деятельности требуют от нас анализа систем массового участия. Идейные
                соображения высшего порядка, а также постоянный количественный рост и сфера
                нашей активности в значительной степени обуславливает создание модели развития.
                Укрепление и развитие структуры представляет собой интересный эксперимент
                проверки форм развития. Укрепление и развитие структуры представляет собой...
              </p>

              <p>
                Укрепление и развитие структуры представляет собой интересный эксперимент
                проверки форм развития. Разнообразный и богатый опыт новая модель организационной
                деятельности требуют от нас анализа систем массового участия. Идейные
                соображения высшего порядка, а также постоянный количественный рост и сфера
                нашей активности в значительной степени обуславливает создание модели развития.
                Укрепление и развитие структуры представляет собой интересный эксперимент
                проверки форм развития. Укрепление и развитие структуры представляет собой...
              </p>
            </div>

            <button type="button" class="seo-section__expand expand-button" data-text="Читать полностью"></button>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

{{/content}}
{{/extend}}