{{#extend "layout"}}
{{#content "main"}}

<section class="image-intro {{#if imageIntroClass}} image-intro--big {{/if}}">

  <div class="site-container">
    {{>breadcrumbs}}

    <div class="image-intro__intro-row hero__intro-row">
      <div class="hero__left image-intro__left">
        <div class="image-intro__title text-h2">
          Каталог ангаров
        </div>
        <span class="image-intro__subtitle">
          Мы предоставляем полный комплекс услуг в сфере строительства ангаров любой сложности  
        </span>
      </div>
      <div class="hero__right"></div>
    </div>
  </div>

  <div class="image-intro__picture-wrapper">
    <div class="image-intro__picture">
      <picture>
        <source type="image/webp" srcset="./img/about/intro-catalog-main.jpg" alt="image intro image">
        <img src="./img/about/intro-catalog-main.jpg" alt="hero image">
      </picture>
    </div>
  </div>
</section>

<section class="multi-section section-padding section-padding--low-bottom-padding">
  <article class="multi-section__article">
    <div class="catalogs">
      <div class="site-container">
        <ul class="catalogs__list">
          <li class="catalogs__item">
            <span class="catalogs__name text-h3">
              Ангары по назначению
            </span>
            <ul class="catalog">
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-agricultural"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Сельскохозяйственные ангары и постройки 
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-warehouse"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Складские ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-factory"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Промышленные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-technic"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Ангары для техники
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-sport"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Спортивные ангары и сооружения
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="catalogs__item">
            <span class="catalogs__name text-h3">
              Ангары по типу
            </span>
            <ul class="catalog">
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-arched"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Арочные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-straight"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Прямостенные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-gable"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Двухскатные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-frameless"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Бескаркасные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-prefabricated"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Быстровозводимые ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-metalframe"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Ангары из металлокаркаса
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-collapsible"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Сборно-разборные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-sandwich"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Ангары из сендвич панелей
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="catalogs__item">
            <span class="catalogs__name text-h3">
              Ангары по форме
            </span>
            <ul class="catalog">
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-cold"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Холодные ангары
                  </span>
                </a>
              </li>
              <li class="catalog__item">
                <a href="#" class="catalog__link catalog-link">
                  <span class="catalog-link__icon"></span>
                  <div class="catalog-link__img">
                    <svg aria-hidden="true" class="icon">
                      <use xlink:href="#cat-warm"></use>
                    </svg>
                  </div>
                  <span class="catalog-link__text">
                    Теплые ангары
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    {{> form }}
  </article>
</section>

{{/content}}
{{/extend}}