{{#extend "layout"}}
{{#content "main"}}


<section class="hero">
    <div class="container">
        <h1>
            Home
        </h1>
    </div>
</section>

<section class="introduction">
    <div class="container">
        <h1>
            Home
        </h1>
    </div>
</section>


{{/content}}
{{/extend}}