{{#extend "layout"}}
{{#content "main"}}

<section class="image-intro {{#if imageIntroClass}} image-intro--big {{/if}}">
  <div class="site-container">
    {{>breadcrumbs}}

    <div class="image-intro__intro-row hero__intro-row">
      <div class="hero__left image-intro__left image-intro__left--full-width">
        <h1 class="image-intro__title text-h2">
          Цены на строительство ангаров в 2023 году
        </h1>
      </div>
    </div>
  </div>

  <div class="image-intro__picture-wrapper">
    <div class="image-intro__picture">
      <picture>
        <source type="image/webp" srcset="./img/prices/intro.png" alt="image intro image">
        <img src="./img/prices/intro.png" alt="image intro image">
      </picture>
    </div>
  </div>
</section>

<section class="multi-section section-padding section-padding--all-small">
  <article class="multi-section__article">
    <div class="site-container">
      {{#if tabsList}}
      <div class="prices-navigation">
        <ul class="prices-navigation__list hide-on-tablet">
          {{#each tabsList}}
          <li class="prices-navigation__item">
            <button type="button" class="prices-navigation__tab tab js-prices-tab" data-btn={{this.data}}>
              {{this.text}}
            </button>
          </li>
          {{/each}}
        </ul>

        <div class="prices-navigation__mobile-button show-on-tablet">
          <button type="button" class="icon-tab" data-path="modal-tabs">
            <span class="js-price-type-value">Все категории</span>
            <i></i>
          </button>
        </div>
      </div>
      {{/if}}

      <div class="prices-list">
        <ul class="prices-list__list">
          <li class="prices-list__item js-filtered-item" data-id="type-1">
            <h3 class="prices-list__title text-h3">
              Цены на строительство ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="prices-list__item js-filtered-item" data-id="type-2">
            <h3 class="prices-list__title text-h3">
              Цены на проектирование ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="prices-list__item js-filtered-item" data-id="type-3">
            <h3 class="prices-list__title text-h3">
              Цены на монтаж ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="prices-list__item js-filtered-item" data-id="type-4">
            <h3 class="prices-list__title text-h3">
              Цены на строительство ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="prices-list__item js-filtered-item" data-id="type-5">
            <h3 class="prices-list__title text-h3">
              Цены на проектирование ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="prices-list__item js-filtered-item" data-id="type-6">
            <h3 class="prices-list__title text-h3">
              Цены на монтаж ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    {{> calculation }}
  </article>

  <article class="multi-section__article">
    <div class="introduction">
      <div class="site-container">
        <div class="introduction__content-wrapper">
          <div class="introduction__intro-row hero__intro-row">
            <div class="hero__left">
              <div class="introduction__title text-h3">
                Производим и строим ангары «Под ключ» с 2015 года
              </div>
            </div>
            <div class="hero__right">
              <div class="introduction__subtitle">
                Наша компания уже более восьми лет реализует проекты по
                возведению ангаров разных видов и любой сложности в
                Казани и по всей России. За это время мы построили
                ангаров и складских сооружений общей площадью более
                шестидесяти тысяч квадратных метров. 
              </div>
              <div class="introduction__text">
                Мы предоставляем максимальный спектр услуг  по изготовлению,
                проектированию, доставке и сборке сооружений в рамках “одного
                окна”, а также всегда рады поделиться с нашими Заказчиками
                экспертными знаниями в области строительства ангаров и других
                сооружений. 
              </div>
            </div>
          </div>
          <div class="introduction__intro-row introduction__intro-row--border hero__intro-row">
            <div class="hero__left">
              <div class="introduction__text">
                О компании в цифрах
              </div>
            </div>
            <div class="hero__right">
              <ul class="introduction__list">
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">21</span>
                    <span class="stat__dim">день</span>
                  </div>
                  <span class="stat__text">
                    Средний срок строительства
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">60 000</span>
                    <span class="stat__dim">кв.м.</span>
                  </div>
                  <span class="stat__text">
                    Общая площадь выполненной застройки
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">8</span>
                    <span class="stat__dim">лет</span>
                  </div>
                  <span class="stat__text">
                    Опыта работы в сфере
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">32</span>
                    <span class="stat__dim">cотрудника</span>
                  </div>
                  <span class="stat__text">
                    Различных профессий в нашем штате
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    {{> form }}
  </article>
</section>

{{>modal-tabs}}

{{/content}}
{{/extend}}