{{#extend "layout"}}
{{#content "main"}}

<section class="image-intro {{#if imageIntroClass}} image-intro--big {{/if}}">
  <div class="site-container">
    {{>breadcrumbs}}

    <div class="image-intro__intro-row hero__intro-row">
      <div class="hero__left image-intro__left image-intro__left--full-width">
        <h1 class="image-intro__title text-h2">
          Цены на строительство ангаров в 2023 году
        </h1>
      </div>
    </div>
  </div>

  <div class="image-intro__picture-wrapper">
    <div class="image-intro__picture">
      <picture>
        <source type="image/webp" srcset="./img/prices/intro.png" alt="image intro image">
        <img src="./img/prices/intro.png" alt="image intro image">
      </picture>
    </div>
  </div>
</section>

<section class="multi-section section-padding section-padding--all-small">
  <article class="multi-section__article">
    <div class="site-container">
      {{#if tabsList}}
      <div class="prices-navigation">
        <ul class="prices-navigation__list hide-on-tablet">
          {{#each tabsList}}
          <li class="prices-navigation__item">
            <button type="button" class="prices-navigation__tab tab js-prices-tab" data-btn={{this.data}}>
              {{this.text}}
            </button>
          </li>
          {{/each}}
        </ul>

        <div class="prices-navigation__mobile-button show-on-tablet">
          <button type="button" class="icon-tab" data-path="modal-tabs">
            <span class="js-price-type-value">Все категории</span>
            <i></i>
          </button>
        </div>
      </div>
      {{/if}}

      <div class="prices-list">
        <ul class="prices-list__list">
          <li class="prices-list__item js-filtered-item" data-id="type-1">
            <h3 class="prices-list__title text-h3">
              Цены на строительство ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="prices-list__item js-filtered-item" data-id="type-2">
            <h3 class="prices-list__title text-h3">
              Цены на проектирование ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="prices-list__item js-filtered-item" data-id="type-3">
            <h3 class="prices-list__title text-h3">
              Цены на монтаж ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="prices-list__item js-filtered-item" data-id="type-4">
            <h3 class="prices-list__title text-h3">
              Цены на строительство ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="prices-list__item js-filtered-item" data-id="type-5">
            <h3 class="prices-list__title text-h3">
              Цены на проектирование ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="prices-list__item js-filtered-item" data-id="type-6">
            <h3 class="prices-list__title text-h3">
              Цены на монтаж ангаров
            </h3>

            <div class="prices-list__table price-table">
              <ul class="price-table__list">
                <li class="price-table__row price-table__row--head">
                  <span class="price-table__name">Наименование работ</span>
                  <span class="price-table__measure">Ед. измерения</span>
                  <span class="price-table__price">Цена от</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
                <li class="price-table__row">
                  <span class="price-table__name">Холодный каркасный ангар с пролётом до 18 м</span>
                  <span class="price-table__measure">м²</span>
                  <span class="price-table__price">2527 ₽</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="calculation">
      <div class="site-container">
        <form action="#" class="calculation__body">
          <div class="calculation__image">
            <img src="./img/calculation/hangar.png" alt="картинка ангара">
          </div>

          <div class="calculation__forms">
            <div class="calculation__title text-h3">
              Узнайте точную стоимость<br> вашего ангара
            </div>

            <div class="calculation__slider">
              <div class="calculation__swiper swiper js-calc-swiper">
                <ul class="calculation__swiper-wrapper swiper-wrapper">
                  <li class="calculation__swiper-slide swiper-slide form-slide">
                    <div class="form-slide__header">
                      <div class="form-slide__title">
                        <i>1.</i>
                        <span>Укажите характеристики строения</span>
                      </div>
                    </div>

                    <div class="form-slide__inputs-block">

                      <div class="form-slide__inputs form-slide__inputs--nowrap">
                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Длина
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="input-box">
                              <input type="number" name="length" id="input-length" class="input-box__input"
                                placeholder="5 метров" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Ширина
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="input-box">
                              <input type="number" name="width" id="input-width" class="input-box__input"
                                placeholder="5 метров" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Высота
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="input-box">
                              <input type="number" name="height" id="input-height" class="input-box__input"
                                placeholder="5 метров" required>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-slide__inputs form-slide__inputs--selects">
                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Тип
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="select">
                              <div class="select__current" tabindex="1">
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="type-id-1" value="type-value-1"
                                    name="name-1" checked />
                                  <p class="select__input-text">
                                    Не выбрано
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="type-id-2" value="type-value-2"
                                    name="name-1" />
                                  <p class="select__input-text">
                                    Тип 1
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="type-id-3" value="type-value-3"
                                    name="name-1" />
                                  <p class="select__input-text">
                                    Тип 2
                                  </p>
                                </div>
                                <span class="select__icon">
                                  <svg aria-hidden="true" class="icon icon-search">
                                    <use xlink:href="#select-arrow"></use>
                                  </svg>
                                </span>
                              </div>
                              <div class="select__list-wrapper">
                                <ul class="select__list">
                                  <li>
                                    <label class="select__option" for="type-id-1" aria-hidden="aria-hidden">
                                      Не выбрано
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="type-id-2" aria-hidden="aria-hidden">
                                      Тип 1
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="type-id-3" aria-hidden="aria-hidden">
                                      Тип 2
                                    </label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Назначение
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="select">
                              <div class="select__current" tabindex="1">
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="purpose-id-1" value="purpose-value-1"
                                    name="purpose-1" checked />
                                  <p class="select__input-text">
                                    Не выбрано
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="purpose-id-2" value="purpose-value-2"
                                    name="purpose-1" />
                                  <p class="select__input-text">
                                    Назначение 1
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="purpose-id-3" value="purpose-value-3"
                                    name="purpose-1" />
                                  <p class="select__input-text">
                                    Назначение 2
                                  </p>
                                </div>
                                <span class="select__icon">
                                  <svg aria-hidden="true" class="icon icon-search">
                                    <use xlink:href="#select-arrow"></use>
                                  </svg>
                                </span>
                              </div>
                              <div class="select__list-wrapper">
                                <ul class="select__list">
                                  <li>
                                    <label class="select__option" for="purpose-id-1" aria-hidden="aria-hidden">
                                      Не выбрано
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="tpurpose-id-2" aria-hidden="aria-hidden">
                                      Назначение 1
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="purpose-id-3" aria-hidden="aria-hidden">
                                      Назначение 2
                                    </label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Холодный/Теплый
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="select">
                              <div class="select__current" tabindex="1">
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="temp-id-1" value="temp-value-1"
                                    name="temp-1" checked />
                                  <p class="select__input-text">
                                    Не выбрано
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="temp-id-2" value="temp-value-2"
                                    name="temp-1" />
                                  <p class="select__input-text">
                                    Холодный
                                  </p>
                                </div>
                                <div class="select__value">
                                  <input class="select__input" type="radio" id="temp-id-3" value="temp-value-3"
                                    name="temp-1" />
                                  <p class="select__input-text">
                                    Теплый
                                  </p>
                                </div>
                                <span class="select__icon">
                                  <svg aria-hidden="true" class="icon icon-search">
                                    <use xlink:href="#select-arrow"></use>
                                  </svg>
                                </span>
                              </div>
                              <div class="select__list-wrapper">
                                <ul class="select__list">
                                  <li>
                                    <label class="select__option" for="temp-id-1" aria-hidden="aria-hidden">
                                      Не выбрано
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="temp-id-2" aria-hidden="aria-hidden">
                                      Холодный
                                    </label>
                                  </li>
                                  <li>
                                    <label class="select__option" for="temp-id-3" aria-hidden="aria-hidden">
                                      Теплый
                                    </label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="form-slide__buttons">
                      <button type="button" class="main-button main-button--orange js-set-next-form">
                        <span>Следующий шаг</span>
                        <svg aria-hidden="true" class="icon">
                          <use xlink:href="#btn-arrow"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="calculation__swiper-slide swiper-slide form-slide">
                    <div class="form-slide__header form-slide__header--second-step">
                      <div class="form-slide__title">
                        <i>2.</i>
                        <span>Оставьте свой номер</span>
                      </div>
                      <span class="form-slide__text">
                        Наш инженер свяжется с вами в ближайшее время для обсуждения сметы
                      </span>
                    </div>

                    <div class="form-slide__inputs-block">

                      <div class="form-slide__inputs">
                        <div class="form-slide__col">
                          <div class="form-slide__input-wrapper">
                            <div class="input-box">
                              <input type="text" name="user-name" id="input-user-name" class="input-box__input"
                                placeholder="Ваше имя" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-slide__col">
                          <div class="form-slide__input-wrapper">
                            <div class="input-box">
                              <input type="text" name="user-phone" id="input-user-phone" class="input-box__input"
                                placeholder="+7 (___)-___-__-__" required>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-slide__inputs">
                        <div class="form-slide__col">
                          <span class="form-slide__label">
                            Удобное время для звонка:
                          </span>

                          <div class="form-slide__input-wrapper">
                            <div class="form-slide__input-radios">
                              <div class="radio-box">
                                <label>
                                  <input type="radio" name="call-time" id="radio-input-1" hidden class="visually-hidden"
                                    checked>
                                  <i></i>
                                  <span>10:00 - 13:00</span>
                                </label>
                              </div>
                              <div class="radio-box">
                                <label>
                                  <input type="radio" name="call-time" id="radio-input-2" hidden
                                    class="visually-hidden">
                                  <i></i>
                                  <span>13:00 - 16:00</span>
                                </label>
                              </div>
                              <div class="radio-box">
                                <label>
                                  <input type="radio" name="call-time" id="radio-input-3" hidden
                                    class="visually-hidden">
                                  <i></i>
                                  <span>16:00 - 19:00</span>
                                </label>
                              </div>
                              <div class="radio-box">
                                <label>
                                  <input type="radio" name="call-time" id="radio-input-4" hidden
                                    class="visually-hidden">
                                  <i></i>
                                  <span>10:00 - 13:00</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="form-slide__buttons">
                      <button type="button"
                        class="main-button main-button--second main-button--reverse js-set-prev-form">
                        <span>Предыдущий шаг</span>
                        <svg aria-hidden="true" class="icon icon-stroke">
                          <use xlink:href="#btn-reverse"></use>
                        </svg>
                      </button>
                      <button type="submit" class="main-button main-button--orange">
                        <span>Оставить заявку</span>
                        <svg aria-hidden="true" class="icon">
                          <use xlink:href="#plus"></use>
                        </svg>
                      </button>
                    </div>

                    <div class="form-slide__agreement">
                      <span>Нажимая кнопку «Оставить заявку», вы соглашаетесь с&nbsp;</span>
                      <a href="#">
                        политикой конфиденциальности
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    <div class="introduction">
      <div class="site-container">
        <div class="introduction__content-wrapper">
          <div class="introduction__intro-row hero__intro-row">
            <div class="hero__left">
              <div class="introduction__title text-h3">
                Производим и строим ангары «Под ключ» с 2015 года
              </div>
            </div>
            <div class="hero__right">
              <div class="introduction__subtitle">
                Наша компания уже более восьми лет реализует проекты по
                возведению ангаров разных видов и любой сложности в
                Казани и по всей России. За это время мы построили
                ангаров и складских сооружений общей площадью более
                шестидесяти тысяч квадратных метров. 
              </div>
              <div class="introduction__text">
                Мы предоставляем максимальный спектр услуг  по изготовлению,
                проектированию, доставке и сборке сооружений в рамках “одного
                окна”, а также всегда рады поделиться с нашими Заказчиками
                экспертными знаниями в области строительства ангаров и других
                сооружений. 
              </div>
            </div>
          </div>
          <div class="introduction__intro-row introduction__intro-row--border hero__intro-row">
            <div class="hero__left">
              <div class="introduction__text">
                О компании в цифрах
              </div>
            </div>
            <div class="hero__right">
              <ul class="introduction__list">
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">21</span>
                    <span class="stat__dim">день</span>
                  </div>
                  <span class="stat__text">
                    Средний срок строительства
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">60 000</span>
                    <span class="stat__dim">кв.м.</span>
                  </div>
                  <span class="stat__text">
                    Общая площадь выполненной застройки
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">8</span>
                    <span class="stat__dim">лет</span>
                  </div>
                  <span class="stat__text">
                    Опыта работы в сфере
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">32</span>
                    <span class="stat__dim">cотрудника</span>
                  </div>
                  <span class="stat__text">
                    Различных профессий в нашем штате
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    {{> form }}
  </article>
</section>

{{>modal-tabs}}

{{/content}}
{{/extend}}