{{#extend "layout"}}
{{#content "main"}}

<section class="image-intro image-intro--no-height">
  <div class="site-container">
    {{>breadcrumbs}}
  </div>
</section>

<section class="reviews-list">
  <div class="site-container">
    <h1 class="reviews-list__title text-h2">
      Отзывы
    </h1>

    <ul class="reviews-list__wrapper">
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review-cart review-cart--light">
          <div class="review-cart__body">
            <div class="review-cart__author">
              <div class="review-cart__author-pic">
                <img src="./img/reviews/pic-1.png" alt="фото автора отзыва">
              </div>
              <div class="review-cart__author-info">
                <span class="review-cart__author-name">
                  Петров Александр
                </span>
                <span class="review-cart__date">
                  21.04.2023
                </span>
              </div>
            </div>
            <div class="review-cart__review review-cart__review--full">
              <div class="review-cart__text-wrapper">
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
                <p>
                  Мы предоставляем максимальный спектр услуг  по изготовлению, проектированию,
                  доставке и сборке сооружений в рамках “одного окна”, а также всегда рады
                  поделиться с нашими Заказчиками экспертными знаниями в области строительства
                  ангаров и других сооружений. 
                </p>
              </div>

              <button type="button" class="review-cart__expand-button expand-button"
                data-text="Читать полностью"></button>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="blog__button-wrapper">
      <button type="button" class="main-button main-button--orange">
        <span>Показать еще</span>
        <svg aria-hidden="true" class="icon">
          <use xlink:href="#plus"></use>
        </svg>
      </button>
    </div>
  </div>
</section>


<section class="multi-section section-padding section-padding--low-bottom-padding">
  <article class="multi-section__article">
    <div class="introduction">
      <div class="site-container">
        <div class="introduction__content-wrapper">
          <div class="introduction__intro-row hero__intro-row">
            <div class="hero__left">
              <div class="introduction__title text-h3">
                Производим и строим ангары «Под ключ» с 2015 года
              </div>
            </div>
            <div class="hero__right">
              <div class="introduction__subtitle">
                Наша компания уже более восьми лет реализует проекты по
                возведению ангаров разных видов и любой сложности в
                Казани и по всей России. За это время мы построили
                ангаров и складских сооружений общей площадью более
                шестидесяти тысяч квадратных метров. 
              </div>
              <div class="introduction__text">
                Мы предоставляем максимальный спектр услуг  по изготовлению,
                проектированию, доставке и сборке сооружений в рамках “одного
                окна”, а также всегда рады поделиться с нашими Заказчиками
                экспертными знаниями в области строительства ангаров и других
                сооружений. 
              </div>
            </div>
          </div>
          <div class="introduction__intro-row introduction__intro-row--border hero__intro-row">
            <div class="hero__left">
              <div class="introduction__text">
                О компании в цифрах
              </div>
            </div>
            <div class="hero__right">
              <ul class="introduction__list">
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">21</span>
                    <span class="stat__dim">день</span>
                  </div>
                  <span class="stat__text">
                    Средний срок строительства
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">60 000</span>
                    <span class="stat__dim">кв.м.</span>
                  </div>
                  <span class="stat__text">
                    Общая площадь выполненной застройки
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">8</span>
                    <span class="stat__dim">лет</span>
                  </div>
                  <span class="stat__text">
                    Опыта работы в сфере
                  </span>
                </li>
                <li class="introduction__item stat">
                  <div class="stat__top">
                    <span class="stat__number text-h1">32</span>
                    <span class="stat__dim">cотрудника</span>
                  </div>
                  <span class="stat__text">
                    Различных профессий в нашем штате
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="multi-section__article">
    {{> form }}
  </article>
</section>
{{/content}}
{{/extend}}