.input-box {
  position: relative;

  textarea,
  input {
    width: 100%;
    padding: 1.9rem 2.2rem;
    background-color: rgba($color: var(--input-back), $alpha: 0.4);

    @include placeholder() {
      color: var(--grey, #8A8F94);
    }

    &--textarea {
      min-height: 15rem;
    }
  }

  input {
    min-height: 6rem;

    @include breakpoint(portrait-tablet) {
      min-height: 5.5rem;
    }
  }

  textarea {
    max-height: 15rem;

    @include breakpoint(portrait-tablet) {
      max-height: 16rem;
    }
  }

  &__submit {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    display: none;
    align-items: center;
    justify-content: center;

    height: 100%;
    aspect-ratio: 1;
    transform: translateY(-50%);

    .icon {
      display: block;
      width: 2rem;
      aspect-ratio: 1;
      fill: var(--grey, #8a8f94);
      transition: var(--transition);
    }

    &:hover {
      .icon {
        fill: var(--black, #212529)
      }
    }
  }
  
  &--search {
    .input-box__submit {
      display: flex;
    }

    input { 
      padding: 1.9rem 5rem 1.9rem 2.2rem;
    }
  }

  &--ligth {
    textarea,
    input {
      background-color: var(--white, #fff);
    }
  }

  &__error {
    position: absolute;
    top: calc(100%);
    left: 0;
    z-index: 1;
    max-width: 100%;
    color: var(--orange, #ff3f00);
    font: var(--font-text-13);
    font-weight: 600;
    font-style: normal;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .parsley-errors-list {
    position: absolute;
    bottom: calc(100% + 0.1rem);
    left: 0;
    z-index: 1;
    max-width: 100%;

    li {
      color: var(--orange, #ff3f00);
      font: var(--font-text-13);
      font-weight: 600;
    }
  }

  &--bottom-error {
    .parsley-errors-list {
      bottom: 0.1rem;
    }
  }

  &--with-error {
    .input-box__error {
      opacity: 1;
      visibility: visible;
    }
  }
}