.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.4rem;
  padding: 1.9rem 4rem;

  background-color: transparent;

  span {
    display: block;
    font: var(--font-btn-15);
    white-space: nowrap;
    transition: var(--transition);
  }

  .icon {
    width: 1rem;
    flex-shrink: 0;
    aspect-ratio: 1;
    fill: var(--white);
    transition: var(--transition);
  }

  .icon-stroke {
    stroke: var(--white, #fff);
  }

  &:hover {
    background-color: var(--orange, #FF3F00);

    span {
      color: var(--white) !important;
    }
  
    .icon {
      fill: var(--white) !important;
    }

    .icon-stroke {
      stroke: var(--white, #fff);
    }
  }

  &--orange {
    background-color: var(--orange-hover, #eb3a00);

    span {
      color: var(--white);
    }
  
    .icon {
      fill: var(--white);
    }

    .icon-stroke {
      stroke: var(--white, #fff);
    }

    &:hover {
      background-color: var(--orange, #FF3F00);
    }
  }

  &--second {
    background-color: var(--back-2, #f6f8fa);
    border-style: solid;
    border-width: 0.1rem;
    border-color: transparent;

    span {
      color: var(--grey, #8A8F94);
    }
  
    .icon {
      fill: var(--grey, #8A8F94);
    }

    .icon-stroke {
      stroke: var(--grey, #8A8F94);
    }

    &:hover {
      background-color: var(--white, #fff);
      border-color: var(--orange, #FF3F00);

      span {
        color: var(--orange, #FF3F00) !important;
      }

      .icon {
        fill: var(--orange, #FF3F00);
      }

      .icon-stroke {
        stroke: var(--orange, #FF3F00);
      }
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}