.mobile-btn {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;

  .icon {
    display: block;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1;
    margin-top: 2px;
    fill: var(--orange, #ff3f00);
  }

  .icon-open {
    display: block;
  }

  .icon-close {
    display: none;
  }

  span {
    color: inherit;
    font: var(--font-btn-17);
    font-weight: 500;
  }
}