.open-menu-btn {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;

  .icon {
    display: block;
    flex-shrink: 0;
    width: 1rem;
    aspect-ratio: 1;
  }

  .icon-open {
    display: block;
  }

  .icon-close {
    display: none;
  }

  span {
    color: inherit;
    font: var(--font-btn-17);
  }
}

.dropmenu-is-open {
  .open-menu-btn {
    .icon-open {
      display: none;
    }
  
    .icon-close {
      display: block;
    }
  }
}