.phone-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: inherit;

  span {
    display: block;
    margin-bottom: 0.5rem;
    font: var(--font-btn-17);
    font-weight: 700;
    white-space: nowrap;
  }

  i {
    display: block;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    opacity: 0.55;
    white-space: nowrap;
    transition: var(--transition);
  }

  &:hover {
    i {
      opacity: 1;
    }
  }

  &--reverse {
    flex-direction: column-reverse;

    i {
      margin-bottom: 1rem;
      color: var(--grey, #8A8F94);
    }

    span {
      margin-bottom: 0;
      color: var(--orange, #ff3f00);
    }
  }
}

.page-header-is-fixed,
.dropmenu-is-open {
  .phone-link { 
    i {
      color: var(--orange, #ff3f00);
      opacity: 1;
    }

    &:hover {
      i {
        color: var(--orange-hover, #eb3a00);
      }
    }
  }
}

.contacts-section {
  .phone-link { 
    pointer-events: none;
    
    i {
      margin-bottom: 1rem;
      color: var(--grey, #8A8F94);
    }

    span {
      margin-bottom: 0;
      color: var(--orange, #ff3f00);
    }
  }
}