.visually-hidden {
    @include visuallyHidden();
}

.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    body {
        height: auto;
        overflow: hidden;
    }
}

.disable-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.hide-on-mobile {
    @include breakpoint(mobile) {
        display: none !important;
    }
}

.show-on-mobile {
    @include breakpointMF(small-tablet) {
        display: none !important;
    }
}

.text-h1 {
    font: var(--font-h1);
    letter-spacing: -0.018em;
}

.text-h2 {
    font: var(--font-h2);
    letter-spacing: -0.025em;
}

.text-h3 {
    font: var(--font-text-38);
    letter-spacing: -0.0095em;
}

.section-padding {
    padding: 16rem 0;
}